<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<div class="search-page">
  <div class="search-header">search results</div>
  <div class="search-contents">
    <div class="contents-header">
      <div class="contents-title">Title</div>
      <div class="contents-content">Contents</div>
      <div class="contents-time">Start time</div>
    </div>
  </div>
  <ul><% @blogs.each do |blog| %>
    <li>
      <div class="s-title">
        <%= link_to blog.title, blog %>
      </div>
      <div class="s-content">
        <%= blog.content %>
      </div>
        <div class="s-time">
          <%= blog.created_at.strftime('%Y/%m/%d') %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


</body>
</html>