.calendar-all {
  height: 100vh;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  background-size: cover;
  -webkit-animation-name: cbg-img;
          animation-name: cbg-img;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  z-index: 1;
}

.calendar-all .top-nav {
  z-index: 50;
  position: absolute;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-all .top-nav_right {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin: 5% 10% 0 0;
  text-decoration: none;
  text-shadow: 0 0 10px black;
}

.calendar-all .top-nav_right:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.calendar-all .top-nav_right:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.calendar-all .top-nav_left {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin: 5% 0 0 10%;
  text-shadow: 0 0 10px black;
  text-decoration: none;
}

.calendar-all .top-nav_left:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.calendar-all .top-nav_left:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.calendar-all::before {
  content: "";
  background-image: linear-gradient(45deg, rgba(121, 119, 119, 0.3) 50%, rgba(255, 255, 255, 0.276) 50%);
  background-size: 4px 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: -2;
}

.calendar-all .calendar-header {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
}

.calendar-all .calendar-header .char-title {
  display: inline-block;
  -webkit-animation-name: calendar-title;
          animation-name: calendar-title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.calendar-all .calendar-header .char-title:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.calendar-all .calendar-header .char-title:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.calendar-all .calendar-header .char-title:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.calendar-all .calendar-header .char-title:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.calendar-all .calendar-header .char-title:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.calendar-all .calendar-header .char-title:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.calendar-all .calendar-header .char-title:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.calendar-all .calendar-header .char-title:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.calendar-all .calendar-header .char-title:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.calendar-all .calendar-header .char-title:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.calendar-all .calendar-header .char-title:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.calendar-all .calendar-header .char-title:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.calendar-all .calendar-header .char-title:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.calendar-all .calendar-title {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 0px;
  text-align: center;
  color: black;
  text-shadow: 5px 5px 5px grey;
}

.calendar-all .cl-search {
  text-align: center;
  margin-top: 2%;
}

.calendar-all .cl-search .search-field {
  height: 40px;
  width: 60%;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  opacity: 0.6;
}

.calendar-all .cl-search .search-btn {
  height: 47px;
  width: 8%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  background-color: rgba(172, 255, 47, 0.543);
}

.calendar-all .cl-search .search-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes calendar-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes calendar-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

tbody {
  width: 80vw;
}

tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
}

tbody tr .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(80vw/7);
}

thead {
  width: 80vw;
}

thead tr {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

thead tr th {
  display: block;
  width: calc(80vw/7);
}

.simple-calendar {
  height: 70vh;
  margin-bottom: 3.5%;
  margin-top: 11%;
}

.simple-calendar .today {
  background-color: #f5ffc0a6;
}

.simple-calendar .prev-month {
  background-color: #ff971040;
}

.simple-calendar .next-month {
  background-color: #d6ff042e;
}

.simple-calendar .calendar-heading {
  text-align: center;
  position: absolute;
  width: 40%;
  top: 15%;
  left: 50%;
  z-index: 15;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.simple-calendar .calendar-heading a {
  color: navy;
}

.simple-calendar .calendar-heading a:hover {
  font-size: 1.5em;
}

.simple-calendar .day {
  height: 14vh;
  overflow: scroll;
}

.simple-calendar .day a {
  color: black;
}

.simple-calendar .day a:hover {
  color: blue;
  font-size: 1.15em;
}

.simple-calendar thead {
  height: 2vh;
}

.simple-calendar th {
  padding: 6px;
  border-bottom: 4px double black;
  border-collapse: collapse;
  border-left: 4px double black;
  border-right: 4px double black;
  border-top: 4px double #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.simple-calendar td {
  padding: 6px;
  border-bottom: 2px double black;
  border-collapse: collapse;
  border-left: 2px double black;
  border-right: 2px double black;
  border-top: 2px double #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 2px double black;
  border-top-color: black;
  border-top-style: double;
  border-top-width: 4px;
  border-right-color: black;
  border-right-style: double;
  border-right-width: 4px;
  border-bottom-color: black;
  border-bottom-style: double;
  border-bottom-width: 4px;
  border-left-color: black;
  border-left-style: double;
  border-left-width: 4px;
  counter-reset: number 0;
}

.simple-calendar td a:before {
  counter-increment: number 1;
  content: counter(number) ": ";
}

.simple-calendar table {
  margin: 5% auto 0;
  width: 80vw;
  height: 70vh;
}

.new-blog {
  height: 100vh;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  background-size: cover;
  text-align: center;
}

.new-blog .new-title {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
}

.new-blog .new-title .char-title {
  display: inline-block;
  -webkit-animation-name: calendar-title;
          animation-name: calendar-title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.new-blog .new-title .char-title:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.new-blog .new-title .char-title:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.new-blog .new-title .char-title:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.new-blog .new-title .char-title:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.new-blog .new-title .char-title:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.new-blog .new-title .char-title:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.new-blog .new-title .char-title:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.new-blog .new-title .char-title:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.new-blog .new-title .char-title:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.new-blog .new-title .char-title:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.new-blog .new-title .char-title:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.new-blog .blog-new {
  height: 70vh;
  width: 60vw;
  background-color: #cbffef;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
  border: 5px solid black;
  position: relative;
  left: 50%;
  top: 10vh;
}

.new-blog .blog-new .blog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 4%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 88vh;
}

.new-blog .blog-new .blog-form .blog-title {
  font-size: 30px;
  height: 20%;
  width: 40%;
}

.new-blog .blog-new .blog-form .blog-title .label-title {
  text-shadow: 5px 5px 5px grey;
  -webkit-animation: text-wrap 1s 1s both;
          animation: text-wrap 1s 1s both;
}

.new-blog .blog-new .blog-form .blog-title .title-style {
  margin-top: 1vh;
  position: relative;
}

.new-blog .blog-new .blog-form .blog-title .title-style::before {
  -webkit-animation: img-wrap 1.5s  1.5s ease-in-out forwards;
          animation: img-wrap 1.5s  1.5s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  width: 120%;
  height: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new-blog .blog-new .blog-form .blog-title .title-style .title-span {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.new-blog .blog-new .blog-form .blog-title .title-style .field-title {
  height: 50px;
  width: 100%;
  z-index: 30;
  text-indent: 2em;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  outline: none;
  overflow: scroll;
  word-break: break-all;
}

.new-blog .blog-new .blog-form .blog-time {
  font-size: 30px;
  height: 20%;
  width: 100%;
}

.new-blog .blog-new .blog-form .blog-time .label-time {
  text-shadow: 5px 5px 5px grey;
  -webkit-animation: text-wrap 1s 4s both;
          animation: text-wrap 1s 4s both;
}

.new-blog .blog-new .blog-form .blog-time .time-style {
  position: relative;
  margin-top: 2vh;
}

.new-blog .blog-new .blog-form .blog-time .time-style::before {
  -webkit-animation: img-wrap 1.5s  4.5s ease-in-out forwards;
          animation: img-wrap 1.5s  4.5s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0vh;
  z-index: 50;
  width: 120%;
  height: 130%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new-blog .blog-new .blog-form .blog-time .time-style #blog_start_time_1i,
.new-blog .blog-new .blog-form .blog-time .time-style #blog_start_time_2i,
.new-blog .blog-new .blog-form .blog-time .time-style #blog_start_time_3i,
.new-blog .blog-new .blog-form .blog-time .time-style #blog_start_time_4i,
.new-blog .blog-new .blog-form .blog-time .time-style #blog_start_time_5i {
  height: 5vh;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  text-shadow: 3px 3px 3px grey;
}

.new-blog .blog-new .blog-form .blog-content {
  font-size: 30px;
  height: 30vh;
  width: 100%;
  margin: 20px;
}

.new-blog .blog-new .blog-form .blog-content .label-content {
  text-shadow: 5px 5px 5px grey;
  -webkit-animation: text-wrap 1s 2.5s both;
          animation: text-wrap 1s 2.5s both;
}

.new-blog .blog-new .blog-form .blog-content .content-style {
  position: relative;
  margin-top: 2vh;
}

.new-blog .blog-new .blog-form .blog-content .content-style::before {
  -webkit-animation: img-wrap 1.5s  3s ease-in-out forwards;
          animation: img-wrap 1.5s  3s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0vh;
  z-index: 50;
  width: 120%;
  height: 92.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new-blog .blog-new .blog-form .blog-content .content-style .content-dot1 {
  content: "";
  position: absolute;
  top: 20%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.new-blog .blog-new .blog-form .blog-content .content-style .content-dot2 {
  content: "";
  position: absolute;
  top: 66%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.new-blog .blog-new .blog-form .blog-content .content-style .content-span2 {
  content: "";
  position: absolute;
  top: 40vh;
  left: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 50%;
  height: 70%;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  background-color: rgba(203, 255, 239, 0.8);
}

.new-blog .blog-new .blog-form .blog-content .content-style .field-content {
  height: 24vh;
  width: 100%;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  resize: none;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  color: white;
  padding-left: 5%;
  margin-bottom: 3vh;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  outline: none;
}

.new-blog .blog-new .blog-button {
  margin-top: 3%;
  border: 1px solid #363535;
  background-color: #363535;
  color: white;
  padding: 10px 70px;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  -webkit-animation: text-wrap 1s 6s both;
          animation: text-wrap 1s 6s both;
}

.new-blog .blog-new .blog-button::before {
  -webkit-animation: img-wrap 1.5s  2.5s ease-in-out forwards;
          animation: img-wrap 1.5s  2.5s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: -1vh;
  z-index: 50;
  width: 120%;
  height: 150%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new-blog .blog-new .blog-button .btn-span {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.new-blog .blog-new .blog-button .blog-btn {
  text-shadow: 3px 3px 3px grey;
}

.new-blog .blog-new .blog-button #blog-submit {
  display: none;
  font-size: 25px;
}

.diary-nik {
  position: absolute;
  right: 10.8vw;
  width: 12vh;
  top: 15.2vh;
  color: black;
  background-color: rgba(235, 244, 60, 0.7);
  border: 4px double black;
  padding: 4px 12px;
  z-index: 2;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

@-webkit-keyframes cbg-img {
  0% {
    background-image: url(/assets/apple.jpeg);
  }
  33% {
    background-image: url(/assets/paper-1345510_1280.jpg);
  }
  66% {
    background-image: url(/assets/notebook-1587527_1280.jpg);
  }
  100% {
    background-image: url(/assets/apple.jpeg);
  }
}

@keyframes cbg-img {
  0% {
    background-image: url(/assets/apple.jpeg);
  }
  33% {
    background-image: url(/assets/paper-1345510_1280.jpg);
  }
  66% {
    background-image: url(/assets/notebook-1587527_1280.jpg);
  }
  100% {
    background-image: url(/assets/apple.jpeg);
  }
}

@-webkit-keyframes img-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes img-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
}

@-webkit-keyframes text-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.show-blog {
  height: 100vh;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  background-size: cover;
}

.show-blog .show-header {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
}

.show-blog .show-header .char-title {
  display: inline-block;
  -webkit-animation-name: calendar-title;
          animation-name: calendar-title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.show-blog .show-header .char-title:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.show-blog .show-header .char-title:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.show-blog .show-header .char-title:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.show-blog .show-header .char-title:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.show-blog .show-header .char-title:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.show-blog .show-header .char-title:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.show-blog .show-header .char-title:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.show-blog .show-header .char-title:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.show-blog .show-header .char-title:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.show-blog .show-header .char-title:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.show-blog .show-header .char-title:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.show-blog .show-header .char-title:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.show-blog .show-header .char-title:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.show-blog .show-content {
  height: 70vh;
  width: 60vw;
  background-color: #cbffef;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
  border: 5px solid black;
  position: relative;
  left: 50%;
  top: 10vh;
}

.show-blog .show-content .form-contents {
  position: absolute;
  left: 50%;
  top: 4%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 88vh;
}

.show-blog .show-content .form-contents .header-show {
  font-size: 30px;
  height: 20%;
  width: 60%;
}

.show-blog .show-content .form-contents .header-show .show-title {
  font-size: 30px;
  text-shadow: 5px 5px 5px grey;
  -webkit-animation: text-wrap 1s 1s both;
          animation: text-wrap 1s 1s both;
}

.show-blog .show-content .form-contents .header-show .title {
  font-size: 40px;
  margin: 1vh 0 2vh 0;
  position: relative;
}

.show-blog .show-content .form-contents .header-show .title::before {
  -webkit-animation: img-wrap 1.5s  1.5s ease-in-out forwards;
          animation: img-wrap 1.5s  1.5s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  width: 120%;
  height: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.show-blog .show-content .form-contents .header-show .title .title-span {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.show-blog .show-content .form-contents .header-show .title .title-date {
  height: 50px;
  width: 100%;
  z-index: 30;
  text-indent: 1em;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  outline: none;
  overflow-x: scroll;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
}

.show-blog .show-content .form-contents .time-show {
  font-size: 30px;
  height: 20%;
  width: 60vh;
}

.show-blog .show-content .form-contents .time-show .show-time {
  font-size: 30px;
  text-shadow: 5px 5px 5px grey;
  -webkit-animation: text-wrap 1s 1s both;
          animation: text-wrap 1s 1s both;
}

.show-blog .show-content .form-contents .time-show .time {
  font-size: 40px;
  margin-top: 1vh;
  width: 60vh;
  position: relative;
}

.show-blog .show-content .form-contents .time-show .time::before {
  -webkit-animation: img-wrap 1.5s  1.5s ease-in-out forwards;
          animation: img-wrap 1.5s  1.5s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  width: 120%;
  height: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.show-blog .show-content .form-contents .time-show .time .time-span {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.show-blog .show-content .form-contents .time-show .time .time-date {
  height: 50px;
  width: 53vh;
  z-index: 30;
  margin-bottom: 2vh;
  text-indent: 1.3em;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  outline: none;
  overflow: scroll;
  word-break: break-all;
  font-size: 30px;
  padding-left: 1vh;
}

.show-blog .show-content .form-contents .contents-show {
  font-size: 30px;
  height: 40%;
  width: 100%;
}

.show-blog .show-content .form-contents .contents-show .show-contents {
  font-size: 30px;
  text-shadow: 5px 5px 5px grey;
  -webkit-animation: text-wrap 1s 1s both;
          animation: text-wrap 1s 1s both;
}

.show-blog .show-content .form-contents .contents-show .contents {
  font-size: 40px;
  margin-top: 1vh;
  position: relative;
}

.show-blog .show-content .form-contents .contents-show .contents::before {
  -webkit-animation: img-wrap 1.5s  1.5s ease-in-out forwards;
          animation: img-wrap 1.5s  1.5s ease-in-out forwards;
  background-color: #cbffef;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  width: 120%;
  height: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.show-blog .show-content .form-contents .contents-show .contents .contents-span1 {
  content: "";
  position: absolute;
  top: 25%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.show-blog .show-content .form-contents .contents-show .contents .contents-span2 {
  content: "";
  position: absolute;
  top: 75%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 40;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-color: rgba(203, 255, 239, 0.8);
}

.show-blog .show-content .form-contents .contents-show .contents .contents-date {
  height: 23vh;
  width: 92%;
  z-index: 30;
  margin-bottom: 5vh;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  outline: none;
  overflow: scroll;
  word-break: break-all;
  padding: 1vh 0 1vh 3.5vw;
}

.e-btn, .t-btn, .d-btn {
  position: relative;
  z-index: 1000;
  font-size: 30px;
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 0 2vw;
  margin: 0 1%;
  -webkit-transform: skew(0);
          transform: skew(0);
  text-decoration: none;
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#080808), to(#120a0a));
  background-image: linear-gradient(left, #080808 0%, #120a0a 100%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  -webkit-animation: field-a;
          animation: field-a;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.e-btn:hover, .t-btn:hover, .d-btn:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  color: #5df6f9;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.e-btn span, .t-btn span, .d-btn span {
  display: inline-block;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: show-a;
          animation-name: show-a;
  opacity: 0;
}

@-webkit-keyframes show-a {
  0% {
    -webkit-transform: translateX(-2000%) rotateZ(-1080deg);
            transform: translateX(-2000%) rotateZ(-1080deg);
    color: black;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-a {
  0% {
    -webkit-transform: translateX(-2000%) rotateZ(-1080deg);
            transform: translateX(-2000%) rotateZ(-1080deg);
    color: black;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes field-a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes field-a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.edit-title {
  overflow: hidden;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 2vh;
  font-size: 40px;
  text-shadow: 5px 5px 5px grey;
  text-align: center;
}

.edit-title span {
  display: inline-block;
  -webkit-animation-name: kf-cl-title;
          animation-name: kf-cl-title;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.edit-title span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.edit-title span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.edit-title span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.edit-title span:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.edit-title span:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.edit-title span:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.edit-title span:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.edit-title span:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.edit-title span:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.edit-title span:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.edit-title span:nth-child(11) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.edit-title span:nth-child(12) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

@-webkit-keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@-webkit-keyframes bg-image {
  0%, 100% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 49, 241, 0.5)), to(rgba(209, 238, 44, 0.5)));
    background: linear-gradient(0deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  33% {
    background: linear-gradient(120deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  34% {
    background: linear-gradient(121deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  66% {
    background: linear-gradient(240deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  67% {
    background: linear-gradient(241deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
}

@keyframes bg-image {
  0%, 100% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 49, 241, 0.5)), to(rgba(209, 238, 44, 0.5)));
    background: linear-gradient(0deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  33% {
    background: linear-gradient(120deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  34% {
    background: linear-gradient(121deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  66% {
    background: linear-gradient(240deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
  67% {
    background: linear-gradient(241deg, rgba(78, 49, 241, 0.5), rgba(209, 238, 44, 0.5));
  }
}

@-webkit-keyframes kf-cl-title {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes kf-cl-title {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.search-header {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-header .char-title {
  display: inline-block;
  -webkit-animation-name: calendar-title;
          animation-name: calendar-title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.search-header .char-title:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.search-header .char-title:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.search-header .char-title:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.search-header .char-title:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.search-header .char-title:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.search-header .char-title:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.search-header .char-title:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.search-header .char-title:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.search-header .char-title:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.search-header .char-title:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.search-header .char-title:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.search-header .char-title:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.search-header .char-title:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.search-contents {
  width: 100%;
  height: 80%;
}

.search-contents .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  list-style: none;
}

.search-contents .pagination li {
  font-size: 2em;
  margin-right: 2vw;
}

.search-contents .pagination li a {
  text-decoration: none;
}

.search-contents .pagination li a:hover {
  font-size: 1.2em;
  color: white;
}

.search-contents .contents-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
}

.search-contents .contents-header .contents-title {
  margin: 5vh 18vw 0 24vw;
  display: inline-block;
}

.search-contents .contents-header .contents-title span {
  display: inline-block;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: search-a;
          animation-name: search-a;
  opacity: 0;
}

.search-contents .contents-header .contents-content {
  margin-top: 5vh;
  margin-right: 17vw;
}

.search-contents .contents-header .contents-content span {
  display: inline-block;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: search-a;
          animation-name: search-a;
  opacity: 0;
}

.search-contents .contents-header .contents-time {
  margin-top: 5vh;
}

.search-contents .contents-header .contents-time span {
  display: inline-block;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: search-a;
          animation-name: search-a;
  opacity: 0;
}

@-webkit-keyframes open-slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 1;
  }
}

@keyframes open-slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 1;
  }
}

@-webkit-keyframes open-slide-r {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 1;
  }
}

@keyframes open-slide-r {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 1;
  }
}

.search-contents .s-lists {
  border-radius: 5px;
  width: 80%;
  height: 70%;
  margin: 1em auto;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: circle;
  background-color: #d8ff00ad;
  position: relative;
  -webkit-animation: kf-open 2s 1.5s ease-in-out both;
          animation: kf-open 2s 1.5s ease-in-out both;
  opacity: 0;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.search-contents .s-lists::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 20;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  background-image: linear-gradient(45deg, rgba(159, 187, 106, 0.3) 50%, rgba(60, 231, 244, 0.7) 50%);
  background-color: rgba(203, 255, 239, 0.8);
}

.search-contents .s-lists .s-title {
  text-align: center;
  height: 15vh;
  width: 30%;
  padding-left: 3%;
  margin-right: 3vh;
  display: inline-block;
  overflow-x: scroll;
  position: relative;
}

.search-contents .s-lists .s-title:hover {
  font-size: 1.2em;
  color: white;
}

.search-contents .s-lists .s-title .b-title {
  color: black;
}

.search-contents .s-lists .s-title .b-title:hover {
  color: blue;
}

.search-contents .s-lists .s-content {
  text-align: center;
  height: 15vh;
  width: 30%;
  margin-right: 3vh;
  display: inline-block;
  overflow-y: scroll;
}

.search-contents .s-lists .s-time {
  text-align: center;
  height: 15vh;
  width: 30%;
  display: inline-block;
}

@-webkit-keyframes search-a {
  0% {
    -webkit-transform: translateX(-2000%) rotateZ(-1080deg);
            transform: translateX(-2000%) rotateZ(-1080deg);
    color: black;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes search-a {
  0% {
    -webkit-transform: translateX(-2000%) rotateZ(-1080deg);
            transform: translateX(-2000%) rotateZ(-1080deg);
    color: black;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=blogs.css.map */