body{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
#global-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation-name: bg-img;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  & .main-name{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 10px white;
    transform: translate(-50%,-200%);
    & .char{
      transform: translate(-500px,0) scale(0);

      display: inline-block;
     animation-name: slide;
     animation-duration: 0.8s;
     animation-fill-mode: forwards;
     opacity: 0;
     @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
          animation-delay: $i * 0.04s;
        }
      }
    }
    
  }
  & .sub-name{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 5px white;
    opacity: 0;
    animation-name:kf-sub;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: both;

    
  }
  & .sub-name2{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 5px white;
    opacity: 0;
    animation-name: kf-sub2;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
    
  }
  & .bg-signin{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/computer-416569_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: -1;
    
  }  
  &.menu-open-rt{
    & .bg-signin{
    opacity: 1;
    }
  }
  & .bg-signup{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/pen-4337521_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: -1;
  }
  &.menu-open-lt{
    & .bg-signup{
      opacity: 1;
    }
  }
  & .bg-mypage{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/office-1730939_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: -1;
  }
  &.menu-open-lb{
    & .bg-mypage{
      opacity: 1;
    }
  }
  & .bg-search{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/seach.2jpeg.webp);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: -1;
  }
  &.menu-open-rb{
    & .bg-search{
      opacity: 1;
    }
  }
}
.top-nav{
  position: absolute;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin:5% 10% 0 0;
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 16 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin:5% 0 0 10%;
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 16 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
}
.bottom-nav{
  position: absolute;
  top: 90%;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin: 0 10% 5% 0; 
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }  
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin: 0 0 5% 10%;
    text-shadow: 0 0 10px black;
      &:hover{
        & .char-sub{
          display: inline-block;
          @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
            animation-name: kf-deg;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }
      }  
      

    
  }
}
@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}
@keyframes slide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: black;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: black;
	}

	99% {
		transform: translate(0) scale(1.3);
		color: white;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: black;
	}
}

@keyframes kf-deg {
  0%{
    transform:scale(1)rotateY(0);
  }
  50%{
    transform:scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100%{
    transform:scale(1)rotateY(0);
    color: darkcyan;
  }
}
@keyframes kf-sub{
  0%{
    transform: translate(-50% ,100%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,-50%);
    opacity: 1;
  }
}
@keyframes kf-sub2{
  0%{
    transform: translate(-50% ,150%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,80%);
    opacity: 1;
  }
}


