.field_with_errors {
  display: contents;
}
body{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
.bg-dot{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  & .bg-cover{
    content: "";
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 4px 4px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
#global-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation-name: bg-img;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  & .bg-signin{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/computer-416569_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
    
  }  
  &.menu-open-rt{
    & .bg-signin{
    opacity: 1;
    }
  }
  & .bg-signup{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/pen-4337521_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-lt{
    & .bg-signup{
      opacity: 1;
    }
  }
  & .bg-mypage{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/office-1730939_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-lb{
    & .bg-mypage{
      opacity: 1;
    }
  }
  & .bg-search{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/seach.2jpeg.webp);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-rb{
    & .bg-search{
      opacity: 1;
    }
  }
}
.top-nav{
  position: absolute;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin:5% 10% 0 0;
    text-shadow: 0 0 10px black;
    
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin:5% 0 0 10%;
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
}
.bottom-nav{
  position: absolute;
  top: 90%;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin: 0 10% 5% 0; 
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }  
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin: 0 0 5% 10%;
    text-shadow: 0 0 10px black;
      &:hover{
        & .char-sub{
          display: inline-block;
          @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
            animation-name: kf-deg;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }
      }  
      

    
  }
}
.main-content{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  
  & .post-content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    & .form-post{
      width: 60vw;
      height: 70vh;
      // background-color:rgba($color: white, $alpha: 0.7);
      background-size: cover;
      
      border-radius: 20px;
      position: absolute;
      z-index: 5;
      top: 15vh;
      left: 0;
      transform: translateX(-7%);
      animation-name:kf-back ,kf-border;
      animation-duration: 20s , 20s;
      animation-iteration-count: infinite,infinite;
      border: 10px solid black;
      & .form_all{
        display: flex;
        flex-direction: column;
        align-items: center;       
        height: 100%;
        width: 100%;
        
        
        & .fusen{
          position: relative;
          margin: 10px 0 0 10px;
          width: 45%;
          height: 13%;
          background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
          // border-top-left-radius: 20px;
          // border-bottom-left-radius: 20px;
          
          color: white;
          font-size: 20px;
          font-weight: 600;
          box-shadow: 5px 5px 5px black;
          
        }
       
        & .form-title{
          width: 100%;
          height: 20%;
          text-align: center;
          font-size: 30px;
          padding-top: 2%;
          & .title-label{
            animation: text-wrap 1s both;
            display: inline-block;
            font-weight: 600;
            font-size: 30px;
            text-shadow:  5px 5px 5px gray;
           
          }
          
          
         
         
          & .fusen-all{
            padding: 0;
            width: 100%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1%;
            position: relative;
            overflow: hidden;
            &::before{
              animation: img-wrap 2s ease-in-out forwards;
              background-color: white;
              bottom: 0;
              content: '';
              left: 0;
              pointer-events: none;
              position: absolute;
              left: 50%;
              top: 0;
              z-index: 10;
              width: 50%;
              height: 100%;
              transform: translateX(-60%);
              
            }
              & .fusen-left{
                  content:"";
                  width: 15px;
                  height: 15px;
                  border-radius: 7.5px;
                  background-color: white;
                  display: inline-block;
                  position: absolute;
                  z-index: 3;
                  top: 50%;
                  left: 35%;
                  transform: translate(-50%,-50%);
                  box-shadow: 3px 3px 2px black inset;
              
                
                
              }
              & .title-area{
                width: 30%;
                height: 75%;
                margin: 0;
                border: none;
                outline: none;
                font-size: 23px;
                font-weight: 600;
                // text-indent: 15%;
                padding-left: 50px;
                &::placeholder{
                  font-size: 14px;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                }
                
              }
              
         }
        }
        
        & .form-text{
          width: 100%;
          height: 50%;
          text-align: center;
          font-size: 30px;
          & .text-label{
            animation: text-wrap 1s 1.3s both;
            display: inline-block;
            font-weight: 600;
            font-size: 30px;
            text-shadow:  5px 5px 5px gray;
          }
          & .fusen-all{
            padding: 0;
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1%;
            position: relative;
            overflow: hidden;
            &::before{
              animation: img-wrap 2s 1.5s cubic-bezier(1, 0.24, 0.36, 1)forwards;
              background-color: white;
              content: '';
              pointer-events: none;
              position: absolute;
              
              left: 50%;
              top: 0;
              z-index: 10;
              width: 120%;
              height: 100%;
              transform: translateX(-60%);
              
            }
            & .fusen-left1{
              content:"";
              width: 15px;
              height: 15px;
              border-radius: 7.5px;
              background-color: white;
              display: inline-block;
              position: absolute;
              z-index: 3;
              top: 20%;
              left: 12%;
              transform: translate(-50%,-50%);
              box-shadow: 3px 3px 2px black inset;
            }
            & .fusen-left2{
              content:"";
              width: 15px;
              height: 15px;
              border-radius: 7.5px;
              background-color: white;
              display: inline-block;
              position: absolute;
              z-index: 3;
              top: 80%;
              left: 12%;
              transform: translate(-50%,-50%);
              box-shadow: 3px 3px 2px black inset;
            }
            & .text-area{
                width: 75%;
                height: 90%;
                margin: 0;
                border: none;
                outline: none;
                font-size: 22px;
                font-weight: 600;
                padding-left: 3em;
                resize: none;
                font-family: Lora,  Shippori Mincho;
            }
          }
        }
        & .form-img{
          position: relative;
          width: 100%;
          height: 10%;
          text-align: center;
          font-size: 30px;
          display: inline-block;
          overflow: hidden;
          &::before{
            animation: img-wrap 1.5s 2.5s cubic-bezier(0.42, 0, 0, 0.98)  forwards;
            background-color: white;
            content: '';
            pointer-events: none;
            position: absolute;
            
            left: 50%;
            top: 0;
            z-index: 10;
            width: 40%;
            height: 100%;
            transform: translateX(-60%);
            
          }
          & #file-name{
            position: absolute;
            top: 30%;
            left: 70%;
            display: inline-block;
            z-index: 100;
            font-size: 15px;
            text-shadow: 3px 3px 3px gray;
          }
          & .img-label{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
            width: 30%;
            height: 50%;
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding-top: 1%;
            box-shadow: 5px 5px 5px black;
            cursor: pointer;
            font-weight: 600;
            text-shadow: 3px 3px 3px gray;
            overflow: hidden;
            transition-duration: 1s;
          
            &:hover{
              color: black;
            }
            &::before{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
              transition-duration: 0.4s;
            }
            &:hover::before{

              background-color: lime;
              transform: rotate(-180deg) scale(2);
            }
          }
          & .img-area{
            display: none;
          }
          & .fusen-left1{
              content:"";
              width: 15px;
              height: 15px;
              border-radius: 7.5px;
              background-color: white;
              display: inline-block;
              position: absolute;
              z-index: 3;
              top: 22%;
              left: 36%;
              box-shadow: 3px 3px 2px black inset;
              
          }
          
        }
        & .form-submit{
          width: 100%;
          height: 10%;
          text-align: center;
          margin-top: 2%;
          position: relative;
          overflow: hidden;
          & .submit-area{
            display: none;
          }
          & .btn-label{
            position: relative;
            display: inline-block;
            width: 20%;
            height: 40%;
            padding: 1% 0 1% 0;
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            color: white;
            text-shadow: 3px 3px 3px gray;
            // border-radius: 20px;
            overflow: hidden;
            z-index: 2;
            background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
            transition-duration: 1s ;
            // border: 1px solid black;
            box-shadow: 5px 5px 5px black;
            &:hover{
              color: black;
              
            }
            &::after{
              content: "";
             position: absolute;
             width: 100%;
             height: 100%;
             top: 0;
             left: 0;
             display: inline-block;
             z-index: -1;
             transition-duration:0.4s ;
             
            }
            &:hover::after{
              transform: scale(2) rotate(-180deg);
              background-color: rgb(247, 135, 7);
            }
            &::before{
              content: "";
              position: absolute;
              height: 15px;
              width: 15px;
              border-radius: 7.5px;
              top: 50%;
              left: 5%;
              background-color: white;
              transform: translateY(-50%);
              box-shadow: 3px 3px 2px black inset;
              transition-duration: 1s;
            }
            &:hover::before{
              background-color: white;
              box-shadow: 3px 3px 2px black inset;
            }

          }
          & .submit-area{
            display: none;
          }
          &::before{
            animation: img-wrap 1.5s 2.5s cubic-bezier(0.42, 0, 0, 0.98)  forwards;
            background-color: white;
            content: '';
            pointer-events: none;
            position: absolute;
            
            left: 50%;
            top: 0;
            z-index: 10;
            width: 40%;
            height: 100%;
            transform: translateX(-60%);
            
          }
        }
      }
      
    }
    & .post-title{
     font-size: 50px;
     font-weight: 600;
     position: absolute;
     top: 5vh;
     left: 50%;
     transform: translateX(-50%);
     color: white;
     text-shadow: 0 0 10px gray;
     & .char-title{
       display: inline-block;
       @for $i from 1 through 11 {
         &:nth-child(#{$i}) {
           animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-title;
          animation-duration: 2.5s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
     }

     
    }
  }
}
@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}
@keyframes slide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: black;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: black;
  }

  99% {
    transform: translate(0) scale(1.3);
    color: white;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@keyframes kf-deg {
  0%{
    transform:scale(1)rotateY(0);
  }
  50%{
    transform:scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100%{
    transform:scale(1)rotateY(0);
    color: darkcyan;
  }
}
@keyframes kf-sub{
  0%{
    transform: translate(-50% ,100%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,-50%);
    opacity: 1;
  }
}
@keyframes kf-sub2{
  0%{
    transform: translate(-50% ,150%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,80%);
    opacity: 1;
  }
}
@keyframes kf-back{
  0%{
    background-color: white;
    opacity: 1;
  }
  50%{
    background-color: white;
    opacity: 0.8;
  }
 
  100%{
    background-color: white;
    opacity: 1;
  }
}
@keyframes kf-border{
  0%{
    border: 5px solid black;
  }
  33%{
    border: 5px solid rgb(19, 18, 18);
  }
  66%{
    border:5px solid rgb(19, 18, 18);
  }
  100%{
    border: 5px solid black;
  }
}
@keyframes kf-title{
  0%{
    color: black;
  }
  10%{
    color: black;
    transform: scale(1);
  }
  15%{
    color: rgb(252, 250, 245);
    transform: scale(1.2);
  }
  20%{
    color: black;
    transform: scale(1);
  }
}
@keyframes kf-submit{
  0%{
    color: white;
  }
  10%{
    color: white;
    transform: scale(1);
  }
  15%{
    color: yellowgreen;
    transform: scale(1.2);
  }
  20%{
    color: white;
    transform: scale(1);
  }

}
@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}
@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}
@keyframes text-wrap{
  0%{
    transform: translateX(-50%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes kf-opc{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

