.main-content {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-content .list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.main-content .list-content .form-content {
  width: 60vw;
  height: 70vh;
  background-size: cover;
  border-radius: 20px;
  position: absolute;
  z-index: 5;
  top: 15vh;
  left: 0;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
  -webkit-animation-name: kf-back ,kf-border;
          animation-name: kf-back ,kf-border;
  -webkit-animation-duration: 20s , 20s;
          animation-duration: 20s , 20s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  border: 10px solid black;
}

.main-content .list-content .main-title {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
}

.main-content .list-content .main-title .char-title {
  display: inline-block;
  -webkit-animation-name: kf-title;
          animation-name: kf-title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main-content .list-content .main-title .char-title:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.main-content .list-content .main-title .char-title:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.main-content .list-content .main-title .char-title:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.main-content .list-content .main-title .char-title:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.main-content .list-content .main-title .char-title:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.main-content .list-content .main-title .char-title:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.main-content .list-content .main-title .char-title:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.main-content .list-content .main-title .char-title:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.main-content .list-content .main-title .char-title:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.main-content .list-content .main-title .char-title:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main-content .list-content .main-title .char-title:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

@-webkit-keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@-webkit-keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  50% {
    background-color: white;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  50% {
    background-color: white;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@-webkit-keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@-webkit-keyframes kf-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes kf-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=show.css.map */