body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
  list-style: none;
}
#global-container{
  & .bottom-nav{
    display: none;
  }
}
//contentsの大枠のstyle
.all-content{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  
  & .main-content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    //titleのstyle
    & .main-title{
      font-size: 50px;
      font-weight: 600;
      position: absolute;
      top: 5vh;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      text-shadow: 0 0 10px gray;
      & .char-title{
        display: inline-block;
        @for $i from 1 through 11 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
           }
         }
           animation-name: kf-title;
           animation-duration: 2.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: infinite;
      }
    
      
    }
    //白枠内のstyle
    & .list-content{ 
        & .form-content{
          position: relative;
          width: 60vw;
          height: 80vh;
          background-size: cover;
          border-radius: 20px;
          position: absolute;
          z-index: 5;
          top: 15vh;
          left: 0;
          transform: translateX(-7%);
          animation-name:kf-back ,kf-border;
          animation-duration: 20s , 20s;
          animation-iteration-count: infinite,infinite;
          border: 10px solid black;
          display: flex;
          overflow: hidden;
        //画像表示_areaのstyle
          & .img-field{
            position: absolute;
            height: 20vh;
            width: 15%;
            background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
            top: 10%;
            left: 3%;
            & .img-tag{
              width: 100%;
              height: 100%;
            }
            & .no-img{
              color: white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              font-size: 10px;
            }  
          }
          //投稿されたtitle,text& editボタンのstyle
          & .tweet-field{
              & .link_us{
                position: absolute;
                top: 5.5%;
                padding-left: 5%;
                right: 5%;
                width: 10%;
                height: 12%;
                background-color: tomato;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-shadow: 2px 2px 2px rgb(34, 34, 34);
                box-shadow: 5px 5px 5px black;
                overflow: scroll;
                white-space: nowrap;
                & .link-user{
                  color: rgb(1, 41, 41);
                  transition-duration:0.5s ;
                  font-weight: 600;
                  &:hover{
                    color: white;
                    text-shadow: none;
                  }
                }
                & .link-user1{
                  color: rgb(1, 41, 41);
                  transition-duration:0.5s ;
                  font-weight: 500;
                  font-size: 23px;
                  &:hover{
                    color: white;
                    text-shadow:none;
                  }
                }
                &::before{
                  content:"";
                  position: absolute;
                  display: inline-block;
                  width:15px;
                  height: 15px;
                  border-radius: 7.5px;
                  top: 50%;
                  left: 10%;
                  transform: translateY(-50%);
                  box-shadow: 3px 3px 2px black inset;
                  background-color: white;
                }
              }
              & .cover-title{
                content: "";
                display: inline-block;
                width: 100%;
                height: 12vh;
                background-color: white;
                z-index: 20;
                position: absolute;
                top: 5%;
                left: 21%;
                animation: img-wrap2 3s  ease-in-out forwards;
              }
              //title要素のstyle
              & .tweet-title{
                display: flex;
                align-items: center;
                position: absolute;
                top: 5%;
                left: 22%;
                width: 40%;
                height: 10vh; 
                background-color: rgba(2, 192, 255,0.8);
                font-size: 25px;
                box-shadow: 5px 5px 5px black;
                text-shadow: 3px 3px 2px rgb(34, 34, 34);
                padding-left: 3em;
                padding-right: 1em;
                color: white;
                font-weight: 600;
                word-break: break-all;
                overflow: scroll;
                

                
                &::before{
                  content: "";
                  width: 15px;
                  height: 15px;
                  border-radius: 7.5px;
                  display: inline-block;
                  position: absolute;
                  background-color: white;
                  top: 50%;
                  left: 5%;
                  transform: translateY(-50%);
                  box-shadow: 3px 3px 2px black inset;
                  
                }
              }
              & .cover-text{
                content: "";
                display: inline-block;
                position: absolute;
                width: 80%;
                height: 30%;
                top: 20%;
                left:21% ;
                background-color: white;
                z-index: 30;
                animation: img-wrap 1.5s ease-in-out forwards;

              }
          //text要素のstyle
              & .tweet-text{
                display: flex;
                align-items: flex-start;
                overflow: scroll;
                line-height: 1.3em;
                position: absolute;
                top: 20%;
                left: 22%;
                width:65%;
                height: 25%;
                background-color: rgba(4, 206, 4 , 0.8);
                font-size: 25px;
                box-shadow: 5px 5px 5px black;
                padding-left: 3em;
                text-shadow: 3px 3px 2px rgb(34, 34, 34);
                color: white;
                
              }
              & .fusen-left1{
                  content: "";
                  width: 15px;
                  height: 15px;
                  border-radius: 7.5px;
                  display: inline-block;
                  position: absolute;
                  background-color: white;
                  top: 26%;
                  left: 24.5%;
                  transform: translateY(-50%);
                  box-shadow: 3px 3px 2px black inset;
                  z-index: 25;
                }
              & .fusen-left2{
                content: "";
                  width: 15px;
                  height: 15px;
                  border-radius: 7.5px;
                  display: inline-block;
                  position: absolute;
                  background-color: white;
                  top: 40%;
                  left: 24.5%;
                  transform: translateY(-50%);
                  box-shadow: 3px 3px 2px black inset;
                  z-index: 25;
              }


              
            }
        }
        //コメント_areaのstyle
        & .comment-content{
          & .comments-list{
            width: 55vw;
            height: 25vh;
            background-color:rgb(39, 38, 38);
            background-size: cover;
            border-radius: 20px;
            position: absolute;
            z-index: 10;
            top: 55vh;
            left:5%;
            transform: translateX(-7%);
            animation-duration: 20s , 20s;
            animation-iteration-count: infinite,infinite;
            border: 5px solid black;
            
            & .comment-title{
                z-index: 20;
                font-size: 30px;
                font-weight: 600;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                text-shadow: 0 0 10px gray;
                & .char-title{
                  display: inline-block;
                  @for $i from 1 through 11 {
                    &:nth-child(#{$i}) {
                      animation-delay: $i * 0.06s;
                     }
                   }
                     animation-name: kf-title;
                     animation-duration: 2.5s;
                     animation-fill-mode: forwards;
                     animation-iteration-count: infinite;
                }
              
              }  
            & .tweets-list{
                width: 100%;
                height: 60%;
                position: absolute;
                top: 23%;
                display: flex;
                align-items: center;
                justify-content:space-around;
                
                & .com-li{
                  
                  position: relative;
                  width: 45%;
                  height: 100%;
                  display: flex;
                  justify-content: space-between;
                  overflow: hidden;
                  
                  &:nth-child(1){
                    background-color: rgb(235, 72, 8);
                    
                  }
                  &:nth-child(2){
                    background-color: darkorange;
                    
                  }
                  & .cover-comment{
                    content: "";
                    width: 105%;
                    height: 105%;
                    position: absolute;
                    background-color:rgb(39, 38, 38);
                    top:0;
                    left: 0%;
                    z-index: 100;
                    transform: translateX(-1%);
                    animation: img-wrap 1.5s  ease-in-out forwards;
                  }
                  & .com-all{
                    color: white;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    display: flex;
                    align-items: flex-start;
                    overflow: scroll;
                    padding-left: 10%;
                    
                    line-height: 1.5em;
                    text-shadow: 3px 3px 2px rgb(34, 34, 34);
                    & .link-name{
                     
                        & .user-name{
                          color: rgb(3, 48, 48);
                          transition-duration: 0.5s;
                          &:hover{
                            color: white;
                            text-shadow: none;
                          }
                        }
                        & .edit-com{
                          color: blue;
                          display: inline-block;
                          transition-duration: 0.2s;
                          font-size: 14px;
                          &:hover{
                            color: rgb(249, 253, 5);
                            font-weight: 600;
                            text-shadow: 0px 0px 15px rgb(7, 7, 7);
                            transform: scale(1.3);
                          }
                        }
                        & .delete-com{
                          color: blue;
                          display: inline-block;
                          transition-duration: 0.2s;
                          font-size: 14px;
                          &:hover{
                            color: rgb(249, 253, 5);
                            font-weight: 600;
                            text-shadow: 0px 0px 15px rgb(7, 7, 7);
                            transform: rotateZ(360deg) scale(1.3);
                            
                          }
                        }
                      
                      }
                    
                    
                    
                    & .com-spn1{
                      content: "";
                      width: 15px;
                      height: 15px;
                      border-radius: 7.5px;
                      position: absolute;
                      background:  linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
                      display: inline-block;
                      top: 20%;
                      left: 5%;
                      transform: translateX(-50%);
                      z-index: 50;
                      box-shadow: 3px 3px 2px black inset;
                    }
                    & .com-spn2{
                      content: "";
                      width: 15px;
                      height: 15px;
                      border-radius: 7.5px;
                      position: absolute;
                      background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);;
                      display: inline-block;
                      top: 70%;
                      left: 5%;
                      transform: translateX(-50%);
                      z-index: 50;
                      box-shadow: 3px 3px 2px black inset;
                    }

                  }
                }
                
              }
              & .pagination{
                width: 95%;
                height: 10%;
                position: absolute;
                margin-left: 1%;
                top: 80%;
                & .pagination{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: space-between;
                  & li{
                    & a{
                      color: white;
                    }
                  }
                }
              }
          }
        //コメント_areaのstyle
            & .form-comment{
              position: absolute;
              width: 100%;
              height: 20%;
              top: 84%;
              z-index: 10;
              
              & .with-all{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 40%;
                  & .fusen-all_1{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                      & .fusen-left{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 3%;
                        background-color: white;
                        width: 15px;
                        height: 15px;
                        border-radius: 15px;
                        transform: translateY(-50%);
                        box-shadow: 3px 3px 2px black inset;
                      }
                      & .with-text{
                        width: 90%;
                        height: 100%;
                        resize: none;
                        outline: none;
                        border: none;
                        overflow: scroll;
                        background:  linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
                        box-shadow: 5px 5px 5px black;
                        text-shadow: 3px 3px 2px rgb(34, 34, 34);
                        color: white;
                        font-size: 17px;
                        padding-left: 3em;
                      }
                  }
                  & .fusen-all_2{
                     width: 20%;
                     height: 100%;
                     display: flex;
                     justify-content: flex-end;
                     align-items: center;
                     position: relative;

                     
                      & .fusen-left_1{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 26%;
                        background-color: white;
                        width: 15px;
                        height: 15px;
                        border-radius: 15px;
                        transform: translateY(-50%);
                        box-shadow: 3px 3px 2px black inset;
                        z-index: 5;
                      }
                    
                      & #submit-btn{
                        display: none;
                      }
                      & .com-submit{
                        position: relative;
                        width: 80%;
                        height: 95%;
                        font-size: 20px;
                        color: black;
                        background-color: rgb(8, 240, 209);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 5px 5px 5px black;
                        text-shadow: 2px 2px 2px rgb(34, 34, 34);
                        text-indent: 0.5em;
                        overflow: hidden;
                        cursor: pointer;
                        z-index: 2;
                        transition-duration: 0.5s;
                        &:hover{
                          color: white;
                        }
                        &::after{
                         content: "";
                         position: absolute;
                         width: 100%;
                         height: 100%;
                         top: 0;
                         left: 0;
                         z-index: -1;
                         transition-duration:0.4s;
                         
                         
                        }
                        &:hover::after{
                          transform: scale(1.5) rotate(-180deg);
                          background-color: rgb(247, 15, 7);
                         

                      }
                  }

              }
              

            }
          }
      }
    }

  }
 
}
@keyframes kf-deg {
  0%{
    transform:scale(1)rotateY(0);
  }
  50%{
    transform:scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100%{
    transform:scale(1)rotateY(0);
    color: darkcyan;
  }
}
@keyframes kf-back{
  0%{
    background-color: white;
    opacity: 1;
  }
  50%{
    background-color: white;
    opacity: 0.8;
  }
 
  100%{
    background-color: white;
    opacity: 1;
  }
}
@keyframes kf-border{
  0%{
    border: 5px solid black;
  }
  33%{
    border: 5px solid rgb(19, 18, 18);
  }
  66%{
    border:5px solid rgb(19, 18, 18);
  }
  100%{
    border: 5px solid black;
  }
}
@keyframes kf-title{
  0%{
    color: black;
  }
  10%{
    color: black;
    transform: scale(1);
  }
  15%{
    color: rgb(252, 250, 245);
    transform: scale(1.2);
  }
  20%{
    color: black;
    transform: scale(1);
  }
}
@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}
@keyframes img-wrap2 {
  100% {
    transform: translateX(200%);
  }
}
@keyframes kf-submit{
  0%{
    color: white;
  }
  10%{
    color: white;
    transform: scale(1);
  }
  15%{
    color: yellowgreen;
    transform: scale(1.2);
  }
  20%{
    color: white;
    transform: scale(1);
  }

}