body{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
//ドット調の背景のstyle
.bg-dot{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  & .bg-cover{
    content: "";
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    
    background-size: 4px 4px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
//大枠のstyle
#global-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation-name: bg-img;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  //右上ボタンにホバーした時のstyle
  & .bg-signin{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/computer-416569_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
    
  }  
  &.menu-open-rt{
    & .bg-signin{
    opacity: 1;
    }
  }
  //左上ボタンにホバーした時のstyle
  & .bg-signup{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/pen-4337521_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-lt{
    & .bg-signup{
      opacity: 1;
    }
  }
  //左下ボタンにホバーした時のstyle
  & .bg-mypage{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/office-1730939_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-lb{
    & .bg-mypage{
      opacity: 1;
    }
  }
  //右下ボタンにホバーした時のstyle
  & .bg-search{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/seach.2jpeg.webp);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-rb{
    & .bg-search{
      opacity: 1;
    }
  }
}
//上部header要素のstyle
.top-nav{
  position: absolute;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin:5% 10% 0 0;
    text-shadow: 0 0 10px black;
    
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin:5% 0 0 10%;
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
}
//下部header要素のstyle
.bottom-nav{
  position: absolute;
  top: 90%;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin: 0 10% 5% 0; 
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }  
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin: 0 0 5% 10%;
    text-shadow: 0 0 10px black;
      &:hover{
        & .char-sub{
          display: inline-block;
          @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
            animation-name: kf-deg;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }
      }  
      

    
  }
}
//大枠のstyle
.main-content{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  //main-contentsのstyle
  & .tweets-content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    //白枠内のstyle
    & .tweets-list{
      position: relative;
      width: 60vw;
      height: 70vh;
      background-size: cover;
      border-radius: 20px;
      position: absolute;
      z-index: 5;
      top: 15vh;
      left: 0;
      transform: translateX(-7%);
      animation-name:kf-back ,kf-border;
      animation-duration: 20s , 20s;
      animation-iteration-count: infinite,infinite;
      border: 10px solid black;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    //titleのstyle
    & .tweets-title{
     font-size: 50px;
     font-weight: 600;
     position: absolute;
     top: 5vh;
     left: 50%;
     transform: translateX(-50%);
     color: white;
     text-shadow: 0 0 10px gray;
     & .char-title{
       display: inline-block;
       opacity: 0;
       &:nth-child(1){
        animation-name: title-action1 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4s;
       }
       &:nth-child(2){
        animation-name: title-action2,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.04s;
       }
       &:nth-child(3){
        animation-name: title-action3 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.08s;
       }
       &:nth-child(4){
        animation-name: title-action4,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.12s;
       }
       &:nth-child(5){
        animation-name: title-action5 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.16s;
       }
       &:nth-child(6){
        animation-name: title-action6 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.20s;
       }
       
       &:nth-child(8){
        animation-name: title-action8 ,kf-title;
        animation-fill-mode: both,forwards;
        animation-duration: 4s ,2.5s;
        animation-iteration-count: 1 ,infinite;
        animation-delay: 0s ,4.28s;
       }
       &:nth-child(9){
        animation-name: title-action9 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.32s;
       }
       &:nth-child(10){
        animation-name: title-action10 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.36s;
       }
       &:nth-child(11){
        animation-name: title-action11 ,kf-title;
         animation-fill-mode: both,forwards;
         animation-duration: 4s ,2.5s;
         animation-iteration-count: 1 ,infinite;
         animation-delay: 0s ,4.4s;
       }
     }

     
    }
  }
}
//付箋調の背景のstyle
.fusen{
  position: relative;
  animation: kf-lists 1s both;
  width: 47%;
  height: 14%;
  top: 5%;
  animation: kf-fusen 1s both;
  @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.3s;
     }
   }

  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 5px 5px 5px black;
  list-style: none;
  margin-left: 2%;
  overflow: scroll;
  word-break: break-all;
  opacity: 0;

  &:nth-child(1){
    background-color: rgb(41, 165, 41);
  } 
  &:nth-child(2){
    background-color: rgb(93, 80, 173);
  }
  &:nth-child(3){
    background-color: rgb(85, 148, 148);
  }
  &:nth-child(4){
    background-color: rgb(155, 5, 97);
    
  }
  &:nth-child(5){
    background-color: rgb(182, 6, 6);
  }
  &:nth-child(6){
    background-color: rgb(179, 124, 5);
  }
  &:nth-child(7){
    background-color: rgb(137, 8, 243);
  }
  
  &:nth-child(8){
    background-color: rgb(11, 59, 218);
    
  }
  &:nth-child(9){
    background-color: rgb(55, 240, 17);
    
  }
  &:nth-child(10){
    background-color: rgb(226, 212, 10);
    
  }
  //付箋内投稿されたもののtitleのstyle
  & .title-post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 3px 3px 2px black;
    font-size: 20px;
    color: white;
    width: 12em;
    padding-left: 1em;
    transition-duration: 0.5s;
    &:hover{
      color: black;
      text-shadow: none;
    }

    
  }
  
  & .nickname-post{
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(-10%,-150%);
    color: white;
    font-size: 15px;
  }
  &::before{
    content:"";
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 2px black inset;
  }
 }
.pagination{
  position: absolute;
  right: 0;
  bottom: 2%;
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-weight: 600;
  & .next{
    & a{
      color: black;
      font-family: Shippori Mincho;
    }
  }
  & .prev{
    & a{
      color: rgb(54, 58, 2);
      font-family: Shippori Mincho;
      
    }
  }
}
.search-form{
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 100%;
  height: 10%;
  transform: translateX(-50%);
  & .search-group{
    margin-top: 2%;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    & .search-field{
      width: 65%;
      height: 100%;
      outline: none;
      padding-left: 2%;
      font-size: 25px;
      background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
      text-shadow: 3px 3px 2px gray;
      box-shadow: 5px 5px 5px black;
      border: none;
      color: white;
      &::placeholder{
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 2px gray;
      }
    }
    & .search-btn{
      display: none;
    }
    & .btn_label{
      display: inline-block;
      height: 100%;
      width: 15%;
      position: relative;
      top: 0%;
      left: 2%;
      font-weight: 600;
      background-color: yellowgreen;
      border: none;
      text-shadow: 3px 3px 2px gray;
      box-shadow: 5px 5px 5px black;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;
      overflow: hidden;
      transition-duration: 0.5s;
      z-index: 2;
      &:hover{
        color: white;
      }
      &:hover::before{
        background-color: rgb(3, 86, 141);
        transform: rotate(-180deg) scale(2);
      }
      &::before{
       content: "";
       position: absolute;
       display: inline-block;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       z-index: -1;
       transition-duration: 0.6s;
      }
    }
    
  }
}

@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}
@keyframes slide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: black;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: black;
  }

  99% {
    transform: translate(0) scale(1.3);
    color: white;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@keyframes kf-deg {
  0%{
    transform:scale(1)rotateY(0);
  }
  50%{
    transform:scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100%{
    transform:scale(1)rotateY(0);
    color: darkcyan;
  }
}
@keyframes kf-sub{
  0%{
    transform: translate(-50% ,100%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,-50%);
    opacity: 1;
  }
}
@keyframes kf-sub2{
  0%{
    transform: translate(-50% ,150%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,80%);
    opacity: 1;
  }
}
@keyframes kf-back{
  0%{
    background-color: white;
    opacity: 1;
  }
  33%{
    background-color: darkgray;
    opacity: 0.8;
  }
  66%{
    background-color: whitesmoke;
    opacity: 0.8;
  }
  100%{
    background-color: white;
    opacity: 1;
  }
}
@keyframes kf-border{
  0%{
    border: 5px solid black;
  }
  33%{
    border: 5px solid rgb(19, 18, 18);
  }
  66%{
    border:5px solid rgb(19, 18, 18);
  }
  100%{
    border: 5px solid black;
  }
}
@keyframes kf-title{
  0%{
    color: black;
  }
  10%{
    color: black;
    transform: scale(1);
  }
  15%{
    color: rgb(252, 250, 245);
    transform: scale(1.2);
  }
  20%{
    color: black;
    transform: scale(1);
  }
  80%{
    transform: translate(0,0);
    opacity: 1;
  }
  
}
@keyframes title-action1{
  9%{
    transform:translate(300% ,-200%);
    opacity: 0;
  }
  19%,45%{
    transform:translate(300% ,0) ;
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(440%,-100%);
  }
  62%{
    transform: translate(440%,-100%);
     opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  77%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  78%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action2{
  18%{
    transform:translate(380% ,-200%) ;
    opacity: 0;
  }
  28%,45%{
    transform:translate(380% ,0) ;
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(260%,-100%);
  }
  62%{
    transform: translate(260%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  79%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  80%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action3{
  15%{
    transform:translate(280% ,-200%);
    opacity: 0;
  }
  25%,45%{
    transform:translate(280% ,0) ;
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(260%,-100%);
  }
  62%{
    transform: translate(260%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  81%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  82%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action4{
  24%{
    transform:translate(550% ,-200%);
    opacity: 0;
  }
  34%,45%{
    transform:translate(550% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(170%,-100%);
  }
  62%{
    transform: translate(170%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  83%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  84%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action5{
  21%{
    transform:translate(545% ,-200%);
    opacity: 0;
  }
  31%,45%{
    transform:translate(545% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(110%,-100%);
  }
  62%{
    transform: translate(110%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  85%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  86%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action6{
  27%{
    transform:translate(540% ,-200%);
    opacity: 0;
  }
  37%,45%{
    transform:translate(540% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(10%,-100%);
  }
  62%{
    transform: translate(10%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  87%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  88%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}

@keyframes title-action8{
  3%{
    transform:translate(-430% ,-200%);
    opacity: 0;
  }
  13%,45%{
    transform:translate(-430% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(-110%,-100%);
  }
  62%{
    transform: translate(-110%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  89%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  90%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action9{
  12%{
    transform:translate(-500% ,-200%);
    opacity: 0;
  }
  22%,45%{
    transform:translate(-500% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(-390%,-100%);
  }
  62%{
    transform: translate(-390%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  91%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  92%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action10{
  0%{
    transform:translate(-880% ,-200%);
    opacity: 0;
  }
  10%,45%{
    transform:translate(-880% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(-340%,-100%);
  }
  62%{
    transform: translate(-340%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  93%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  94%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-action11{
  6%{
    transform:translate(-950% ,-200%);
    opacity: 0;
  }
  16%,45%{
    transform:translate(-950% ,0);
    color: lime;
    opacity: 1;
  }
  53%{
    transform: translate(-550%,-100%);
  }
  62%{
    transform: translate(-550%,-100%);
    opacity: 1;
  }
  76%{
    transform: translate(0,0);
    opacity: 1;
  }
  95%{
    transform: translate(0,0);
    opacity: 1;
    color: lime;
  }
  96%{
    transform: scale(1.2);
    color: black;
  }
  100%{
    opacity: 1;
  }
}
@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@keyframes kf-fusen{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;

  }
}
