body {
  margin: 0;
  padding: 0;
  font-family: Lora,Shippori Mincho;
}

a {
  text-decoration: none;
}

.bg-dot {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-dot .bg-cover {
  content: "";
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
  background-size: 4px 4px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#global-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -webkit-animation-name: bg-img;
          animation-name: bg-img;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  z-index: 10;
}

#global-container .bg-signin {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/computer-416569_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-rt .bg-signin {
  opacity: 1;
}

#global-container .bg-signup {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/pen-4337521_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-lt .bg-signup {
  opacity: 1;
}

#global-container .bg-mypage {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/office-1730939_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-lb .bg-mypage {
  opacity: 1;
}

#global-container .bg-search {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/seach.2jpeg.webp);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-rb .bg-search {
  opacity: 1;
}

.top-nav {
  position: absolute;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav_right {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 5% 10% 0 0;
  text-shadow: 0 0 10px black;
}

.top-nav_right:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top-nav_right:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.top-nav_right:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.top-nav_right:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.top-nav_right:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.top-nav_right:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.top-nav_right:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.top-nav_right:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.top-nav_right:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.top-nav_right:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.top-nav_right:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.top-nav_left {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 5% 0 0 10%;
  text-shadow: 0 0 10px black;
}

.top-nav_left:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top-nav_left:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.top-nav_left:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.top-nav_left:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.top-nav_left:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.top-nav_left:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.top-nav_left:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.top-nav_left:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.top-nav_left:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.top-nav_left:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.top-nav_left:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-nav {
  position: absolute;
  top: 90%;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-nav_right {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 0 10% 5% 0;
  text-shadow: 0 0 10px black;
}

.bottom-nav_right:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bottom-nav_right:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.bottom-nav_right:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bottom-nav_right:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.bottom-nav_right:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.bottom-nav_right:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bottom-nav_right:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.bottom-nav_right:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.bottom-nav_right:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.bottom-nav_right:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.bottom-nav_right:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-nav_right:hover .char-sub:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.bottom-nav_right:hover .char-sub:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.bottom-nav_right:hover .char-sub:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.bottom-nav_right:hover .char-sub:nth-child(14) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.bottom-nav_right:hover .char-sub:nth-child(15) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.bottom-nav_left {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 0 0 5% 10%;
  text-shadow: 0 0 10px black;
}

.bottom-nav_left:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bottom-nav_left:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.bottom-nav_left:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bottom-nav_left:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.bottom-nav_left:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.bottom-nav_left:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bottom-nav_left:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.bottom-nav_left:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.bottom-nav_left:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.bottom-nav_left:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.bottom-nav_left:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-nav_left:hover .char-sub:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.bottom-nav_left:hover .char-sub:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.bottom-nav_left:hover .char-sub:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.bottom-nav_left:hover .char-sub:nth-child(14) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.bottom-nav_left:hover .char-sub:nth-child(15) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.main-content {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-content .edit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.main-content .edit-content .edit-list {
  position: relative;
  width: 60vw;
  height: 70vh;
  background-size: cover;
  border-radius: 20px;
  position: absolute;
  z-index: 5;
  top: 15vh;
  left: 0;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
  -webkit-animation-name: kf-back ,kf-border;
          animation-name: kf-back ,kf-border;
  -webkit-animation-duration: 20s , 20s;
          animation-duration: 20s , 20s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  border: 10px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.main-content .edit-content .edit-list .form-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.main-content .edit-content .edit-list .form-all .form-name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 15%;
  margin-top: 1%;
}

.main-content .edit-content .edit-list .form-all .form-name .name-title {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 3px 3px 2px gray;
}

.main-content .edit-content .edit-list .form-all .form-name .name-area {
  position: relative;
  width: 100%;
  height: 60%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  padding-left: 15%;
  font-size: 15px;
  font-weight: 600;
  border: none;
  outline: none;
  color: white;
  text-shadow: 2px 2px 3px gray;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  overflow: scroll;
}

.main-content .edit-content .edit-list .form-all .form-name span {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 70%;
  left: -3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 7.5px;
  position: absolute;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .edit-content .edit-list .form-all .form-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 50%;
  margin-top: 1.5%;
}

.main-content .edit-content .edit-list .form-all .form-intro .intro-title {
  font-size: 20px;
  font-weight: 600;
  height: 12%;
  text-shadow: 3px 3px 2px gray;
}

.main-content .edit-content .edit-list .form-all .form-intro .intro-area {
  width: 100%;
  height: 80%;
  resize: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 8%;
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px 2px gray;
  border: none;
  outline: none;
}

.main-content .edit-content .edit-list .form-all .form-intro .span1 {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  position: absolute;
  background-color: white;
  top: 33%;
  left: 9%;
  display: inline-block;
  z-index: 30;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .edit-content .edit-list .form-all .form-intro .span2 {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  position: absolute;
  background-color: white;
  top: 55%;
  left: 9%;
  display: inline-block;
  z-index: 30;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .edit-content .edit-list .form-all .form-birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 10%;
}

.main-content .edit-content .edit-list .form-all .form-birth .birth-name {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 3px 3px 2px gray;
}

.main-content .edit-content .edit-list .form-all .form-birth .form-birth_list {
  width: 100%;
  text-align: center;
}

.main-content .edit-content .edit-list .form-all .form-birth .form-birth_list #user_profile_attributes_birthday_1i {
  width: 15%;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 2px gray;
  background-color: #2b0d0d;
  border: 3px solid black;
  border-radius: 3px;
  outline: none;
}

.main-content .edit-content .edit-list .form-all .form-birth .form-birth_list #user_profile_attributes_birthday_2i {
  width: 10%;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 2px gray;
  background-color: #2b0d0d;
  border: 3px solid black;
  border-radius: 3px;
  outline: none;
}

.main-content .edit-content .edit-list .form-all .form-birth .form-birth_list #user_profile_attributes_birthday_3i {
  width: 10%;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 2px gray;
  background-color: #2b0d0d;
  border: 3px solid black;
  border-radius: 3px;
  outline: none;
}

.main-content .edit-content .edit-list .form-all .form-submit {
  position: relative;
  width: 15%;
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.main-content .edit-content .edit-list .form-all .form-submit .form-btn {
  display: none;
}

.main-content .edit-content .edit-list .form-all .form-submit .sub-btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 3px 3px 2px gray;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.main-content .edit-content .edit-list .form-all .form-submit .sub-btn:hover {
  color: black;
}

.main-content .edit-content .edit-list .form-all .form-submit .sub-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: -1;
}

.main-content .edit-content .edit-list .form-all .form-submit .sub-btn:hover::before {
  background-color: #3cff00;
  -webkit-transform: rotate(-180deg) scale(2);
          transform: rotate(-180deg) scale(2);
}

.main-content .edit-content .edit-title {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
}

.main-content .edit-content .edit-title .char-title {
  display: inline-block;
  -webkit-animation-name: kf-title;
          animation-name: kf-title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main-content .edit-content .edit-title .char-title:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.main-content .edit-content .edit-title .char-title:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.main-content .edit-content .edit-title .char-title:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.main-content .edit-content .edit-title .char-title:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.main-content .edit-content .edit-title .char-title:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.main-content .edit-content .edit-title .char-title:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.main-content .edit-content .edit-title .char-title:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.main-content .edit-content .edit-title .char-title:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.main-content .edit-content .edit-title .char-title:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.main-content .edit-content .edit-title .char-title:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main-content .edit-content .edit-title .char-title:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

@-webkit-keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@-webkit-keyframes slide {
  60% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  80% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  99% {
    -webkit-transform: translate(0) scale(1.3);
            transform: translate(0) scale(1.3);
    color: white;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@keyframes slide {
  60% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  80% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  99% {
    -webkit-transform: translate(0) scale(1.3);
            transform: translate(0) scale(1.3);
    color: white;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@-webkit-keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@-webkit-keyframes kf-sub {
  0% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes kf-sub {
  0% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes kf-sub2 {
  0% {
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
    opacity: 1;
  }
}

@keyframes kf-sub2 {
  0% {
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
    opacity: 1;
  }
}

@-webkit-keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  33% {
    background-color: darkgray;
    opacity: 0.8;
  }
  66% {
    background-color: whitesmoke;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  33% {
    background-color: darkgray;
    opacity: 0.8;
  }
  66% {
    background-color: whitesmoke;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@-webkit-keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@-webkit-keyframes kf-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes kf-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@-webkit-keyframes kf-fusen {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes kf-fusen {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=user_edit.css.map */