body {
  margin: 0;
  padding: 0;
  font-family: Lora , Shippori Mincho;
}

a {
  text-decoration: none;
}

.bg-dot {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-dot .bg-cover {
  content: "";
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
  background-size: 4px 4px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#global-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -webkit-animation-name: bg-img;
          animation-name: bg-img;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  z-index: 10;
}

#global-container .bg-signin {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/computer-416569_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-rt .bg-signin {
  opacity: 1;
}

#global-container .bg-signup {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/pen-4337521_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-lt .bg-signup {
  opacity: 1;
}

#global-container .bg-mypage {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/office-1730939_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-lb .bg-mypage {
  opacity: 1;
}

#global-container .bg-search {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/seach.2jpeg.webp);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-rb .bg-search {
  opacity: 1;
}

.top-nav {
  position: absolute;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav_right {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 5% 10% 0 0;
  text-shadow: 0 0 10px black;
}

.top-nav_right:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top-nav_right:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.top-nav_right:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.top-nav_right:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.top-nav_right:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.top-nav_right:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.top-nav_right:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.top-nav_right:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.top-nav_right:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.top-nav_right:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.top-nav_right:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.top-nav_left {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 5% 0 0 10%;
  text-shadow: 0 0 10px black;
}

.top-nav_left:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top-nav_left:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.top-nav_left:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.top-nav_left:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.top-nav_left:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.top-nav_left:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.top-nav_left:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.top-nav_left:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.top-nav_left:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.top-nav_left:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.top-nav_left:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-nav {
  position: absolute;
  top: 90%;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-nav_right {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 0 10% 5% 0;
  text-shadow: 0 0 10px black;
}

.bottom-nav_right:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bottom-nav_right:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.bottom-nav_right:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bottom-nav_right:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.bottom-nav_right:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.bottom-nav_right:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bottom-nav_right:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.bottom-nav_right:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.bottom-nav_right:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.bottom-nav_right:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.bottom-nav_right:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-nav_right:hover .char-sub:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.bottom-nav_right:hover .char-sub:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.bottom-nav_right:hover .char-sub:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.bottom-nav_right:hover .char-sub:nth-child(14) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.bottom-nav_right:hover .char-sub:nth-child(15) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.bottom-nav_left {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 0 0 5% 10%;
  text-shadow: 0 0 10px black;
}

.bottom-nav_left:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bottom-nav_left:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.bottom-nav_left:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bottom-nav_left:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.bottom-nav_left:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.bottom-nav_left:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bottom-nav_left:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.bottom-nav_left:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.bottom-nav_left:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.bottom-nav_left:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.bottom-nav_left:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bottom-nav_left:hover .char-sub:nth-child(11) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.bottom-nav_left:hover .char-sub:nth-child(12) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.bottom-nav_left:hover .char-sub:nth-child(13) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

.bottom-nav_left:hover .char-sub:nth-child(14) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.bottom-nav_left:hover .char-sub:nth-child(15) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.main-content {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50vw;
  height: 100vh;
}

.main-content .prof-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-content .prof-content .form-content {
  width: 60vw;
  height: 70vh;
  background-size: cover;
  border-radius: 20px;
  position: absolute;
  z-index: 5;
  top: 15vh;
  left: 0;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
  -webkit-animation-name: kf-back ,kf-border;
          animation-name: kf-back ,kf-border;
  -webkit-animation-duration: 20s , 20s;
          animation-duration: 20s , 20s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  border: 10px solid black;
}

.main-content .prof-content .form-content .name-content {
  position: relative;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .prof-content .form-content .name-content .fusen-name {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 80%;
  background-color: chartreuse;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.main-content .prof-content .form-content .name-content .fusen-name::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .prof-content .form-content .text-content {
  position: relative;
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .prof-content .form-content .text-content .fusen-text {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 90%;
  background-color: chocolate;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.main-content .prof-content .form-content .text-content .fusen-text::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  top: 25%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .prof-content .form-content .text-content .fusen-text::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  top: 75%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .prof-content .form-content .post-content {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .prof-content .form-content .post-content .post-list {
  width: 80%;
  height: 90%;
  background-size: 2px 2px;
  border: 4px solid black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .prof-content .form-content .post-content .post-list .list-title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 10px white;
}

.main-content .prof-content .form-content .post-content .post-list .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
}

.main-content .prof-content .form-content .post-content .post-list .pagination a {
  color: white;
}

.main-content .prof-content .form-content .post-content .post-list .post-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}

.main-content .prof-content .form-content .post-content .post-list .post-ul .fusen-post {
  width: 45%;
  height: 70%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.main-content .prof-content .form-content .post-content .post-list .post-ul .fusen-post:nth-child(1) {
  background-color: #ff2f40;
}

.main-content .prof-content .form-content .post-content .post-list .post-ul .fusen-post:nth-child(2) {
  background-color: #0a75f0;
}

.main-content .prof-content .form-content .post-content .post-list .post-ul .fusen-post .post-li {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-content .prof-content .form-content .post-content .post-list .post-ul .fusen-post .post-li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.main-content .prof-content .post-title {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px gray;
}

.main-content .prof-content .post-title .char-title {
  display: inline-block;
}

.main-content .prof-content .post-title .char-title:nth-child(1) {
  -webkit-animation-name: kf-ti-mypage;
          animation-name: kf-ti-mypage;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.main-content .prof-content .post-title .char-title:nth-child(2) {
  -webkit-animation-name: kf-ti-mypage2;
          animation-name: kf-ti-mypage2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.main-content .prof-content .post-title .char-title:nth-child(4) {
  -webkit-animation-name: kf-ti-mypage3;
          animation-name: kf-ti-mypage3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.main-content .prof-content .post-title .char-title:nth-child(5) {
  -webkit-animation-name: kf-ti-mypage4;
          animation-name: kf-ti-mypage4;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.main-content .prof-content .post-title .char-title:nth-child(6) {
  -webkit-animation-name: kf-ti-mypage5;
          animation-name: kf-ti-mypage5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.main-content .prof-content .post-title .char-title:nth-child(7) {
  -webkit-animation-name: kf-ti-mypage6;
          animation-name: kf-ti-mypage6;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@-webkit-keyframes slide {
  60% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  80% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  99% {
    -webkit-transform: translate(0) scale(1.3);
            transform: translate(0) scale(1.3);
    color: white;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@keyframes slide {
  60% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  80% {
    -webkit-transform: translate(20px, 0) scale(1);
            transform: translate(20px, 0) scale(1);
    color: black;
  }
  99% {
    -webkit-transform: translate(0) scale(1.3);
            transform: translate(0) scale(1.3);
    color: white;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@-webkit-keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@-webkit-keyframes kf-sub {
  0% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes kf-sub {
  0% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes kf-sub2 {
  0% {
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
    opacity: 1;
  }
}

@keyframes kf-sub2 {
  0% {
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
    opacity: 1;
  }
}

@-webkit-keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  50% {
    background-color: white;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  50% {
    background-color: white;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@-webkit-keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@-webkit-keyframes kf-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes kf-title {
  0% {
    color: black;
  }
  10% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: #fcfaf5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes kf-submit {
  0% {
    color: white;
  }
  10% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: yellowgreen;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes kf-submit {
  0% {
    color: white;
  }
  10% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    color: yellowgreen;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@-webkit-keyframes img-wrap {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes img-wrap {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes text-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes kf-opc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-opc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf-ti-mypage {
  0% {
    -webkit-transform: translate(230%, -200%) rotate(5deg);
            transform: translate(230%, -200%) rotate(5deg);
    color: black;
  }
  5% {
    -webkit-transform: translate(230%, 60%) rotate(-805deg);
            transform: translate(230%, 60%) rotate(-805deg);
  }
  30% {
    -webkit-transform: translate(230%, 60%) rotate(-805deg);
            transform: translate(230%, 60%) rotate(-805deg);
  }
  33% {
    -webkit-transform: translate(65%, -130%) rotate(-405deg);
            transform: translate(65%, -130%) rotate(-405deg);
  }
  36% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  69% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  71% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  100% {
    color: white;
  }
}

@keyframes kf-ti-mypage {
  0% {
    -webkit-transform: translate(230%, -200%) rotate(5deg);
            transform: translate(230%, -200%) rotate(5deg);
    color: black;
  }
  5% {
    -webkit-transform: translate(230%, 60%) rotate(-805deg);
            transform: translate(230%, 60%) rotate(-805deg);
  }
  30% {
    -webkit-transform: translate(230%, 60%) rotate(-805deg);
            transform: translate(230%, 60%) rotate(-805deg);
  }
  33% {
    -webkit-transform: translate(65%, -130%) rotate(-405deg);
            transform: translate(65%, -130%) rotate(-405deg);
  }
  36% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  69% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  71% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes kf-ti-mypage2 {
  0% {
    -webkit-transform: translate(30%, -200%) rotate(30deg);
            transform: translate(30%, -200%) rotate(30deg);
    color: black;
  }
  5%, 36% {
    -webkit-transform: translate(30%, 50%) rotate(680deg);
            transform: translate(30%, 50%) rotate(680deg);
  }
  39% {
    -webkit-transform: translate(15%, -120%) rotate(680deg);
            transform: translate(15%, -120%) rotate(680deg);
  }
  42% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  71% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  72% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@keyframes kf-ti-mypage2 {
  0% {
    -webkit-transform: translate(30%, -200%) rotate(30deg);
            transform: translate(30%, -200%) rotate(30deg);
    color: black;
  }
  5%, 36% {
    -webkit-transform: translate(30%, 50%) rotate(680deg);
            transform: translate(30%, 50%) rotate(680deg);
  }
  39% {
    -webkit-transform: translate(15%, -120%) rotate(680deg);
            transform: translate(15%, -120%) rotate(680deg);
  }
  42% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  71% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  72% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@-webkit-keyframes kf-ti-mypage3 {
  0% {
    -webkit-transform: translate(-180%, -200%) rotate(30deg);
            transform: translate(-180%, -200%) rotate(30deg);
    color: black;
  }
  5%, 42% {
    -webkit-transform: translate(-180%, 60%) rotate(960deg);
            transform: translate(-180%, 60%) rotate(960deg);
  }
  45% {
    -webkit-transform: translate(15%, -120%) rotate(4800deg);
            transform: translate(15%, -120%) rotate(4800deg);
  }
  48% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  71% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  72% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  73% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@keyframes kf-ti-mypage3 {
  0% {
    -webkit-transform: translate(-180%, -200%) rotate(30deg);
            transform: translate(-180%, -200%) rotate(30deg);
    color: black;
  }
  5%, 42% {
    -webkit-transform: translate(-180%, 60%) rotate(960deg);
            transform: translate(-180%, 60%) rotate(960deg);
  }
  45% {
    -webkit-transform: translate(15%, -120%) rotate(4800deg);
            transform: translate(15%, -120%) rotate(4800deg);
  }
  48% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  71% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  72% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  73% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@-webkit-keyframes kf-ti-mypage4 {
  0% {
    -webkit-transform: translate(-120%, -200%) rotate(30deg);
            transform: translate(-120%, -200%) rotate(30deg);
    color: black;
  }
  5%, 48% {
    -webkit-transform: translate(-120%, 70%) rotate(90deg);
            transform: translate(-120%, 70%) rotate(90deg);
  }
  52% {
    -webkit-transform: translate(15%, -120%) rotate(480deg);
            transform: translate(15%, -120%) rotate(480deg);
  }
  55% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  72% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  73% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  74% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@keyframes kf-ti-mypage4 {
  0% {
    -webkit-transform: translate(-120%, -200%) rotate(30deg);
            transform: translate(-120%, -200%) rotate(30deg);
    color: black;
  }
  5%, 48% {
    -webkit-transform: translate(-120%, 70%) rotate(90deg);
            transform: translate(-120%, 70%) rotate(90deg);
  }
  52% {
    -webkit-transform: translate(15%, -120%) rotate(480deg);
            transform: translate(15%, -120%) rotate(480deg);
  }
  55% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  72% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  73% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  74% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@-webkit-keyframes kf-ti-mypage5 {
  0% {
    -webkit-transform: translate(-120%, -200%) rotate(30deg);
            transform: translate(-120%, -200%) rotate(30deg);
    color: black;
  }
  5%, 55% {
    -webkit-transform: translate(-120%, 70%) rotate(90deg);
            transform: translate(-120%, 70%) rotate(90deg);
  }
  58% {
    -webkit-transform: translate(15%, -120%) rotate(480deg);
            transform: translate(15%, -120%) rotate(480deg);
  }
  61% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  73% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  74% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  75% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@keyframes kf-ti-mypage5 {
  0% {
    -webkit-transform: translate(-120%, -200%) rotate(30deg);
            transform: translate(-120%, -200%) rotate(30deg);
    color: black;
  }
  5%, 55% {
    -webkit-transform: translate(-120%, 70%) rotate(90deg);
            transform: translate(-120%, 70%) rotate(90deg);
  }
  58% {
    -webkit-transform: translate(15%, -120%) rotate(480deg);
            transform: translate(15%, -120%) rotate(480deg);
  }
  61% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  73% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  74% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  75% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@-webkit-keyframes kf-ti-mypage6 {
  0% {
    -webkit-transform: translate(-120%, -200%) rotate(30deg);
            transform: translate(-120%, -200%) rotate(30deg);
    color: black;
  }
  5%, 61% {
    -webkit-transform: translate(-120%, 70%) rotate(90deg);
            transform: translate(-120%, 70%) rotate(90deg);
  }
  64% {
    -webkit-transform: translate(15%, -120%) rotate(480deg);
            transform: translate(15%, -120%) rotate(480deg);
  }
  67% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  74% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  76% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}

@keyframes kf-ti-mypage6 {
  0% {
    -webkit-transform: translate(-120%, -200%) rotate(30deg);
            transform: translate(-120%, -200%) rotate(30deg);
    color: black;
  }
  5%, 61% {
    -webkit-transform: translate(-120%, 70%) rotate(90deg);
            transform: translate(-120%, 70%) rotate(90deg);
  }
  64% {
    -webkit-transform: translate(15%, -120%) rotate(480deg);
            transform: translate(15%, -120%) rotate(480deg);
  }
  67% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  74% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: white;
  }
  76% {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    color: black;
  }
}
/*# sourceMappingURL=user_show.css.map */