body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.field_with_errors {
  display: contents;
}

.bottom-nav_left {
  display: none;
}

.bottom-nav_right {
  display: none;
}

a {
  text-decoration: none;
}

.bg-dot {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-dot .bg-cover {
  content: "";
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
  background-size: 4px 4px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#global-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -webkit-animation-name: bg-img;
          animation-name: bg-img;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

#global-container .user-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 100vh;
}

#global-container .user-wrap .up-name {
  color: white;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 0 0 10px gray;
}

#global-container .user-wrap .form-area {
  width: 60vw;
  height: 70vh;
  position: absolute;
  top: 15%;
  background-size: cover;
  border-radius: 20px;
  -webkit-animation-name: kf-back ,kf-border;
          animation-name: kf-back ,kf-border;
  -webkit-animation-duration: 20s , 20s;
          animation-duration: 20s , 20s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  border: 10px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

#global-container .user-wrap .form-area .new_user {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#global-container .user-wrap .form-area .new_user .name-content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

#global-container .user-wrap .form-area .new_user .name-content .name-label {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 5px 5px 5px gray;
  -webkit-animation: text-wrap 1s both;
          animation: text-wrap 1s both;
}

#global-container .user-wrap .form-area .new_user .name-content .name-field {
  width: 55%;
  height: 40%;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 4%;
  color: white;
  letter-spacing: 0.1em;
}

#global-container .user-wrap .form-area .new_user .name-content .fusen-name {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  top: 57%;
  left: 22%;
}

#global-container .user-wrap .form-area .new_user .name-content .slide-span {
  content: "";
  display: inline-block;
  width: 65%;
  height: 60%;
  position: absolute;
  background-color: white;
  top: 40%;
  -webkit-animation: bg-slide 1.5s 0.5s ease-in-out forwards;
          animation: bg-slide 1.5s 0.5s ease-in-out forwards;
}

#global-container .user-wrap .form-area .new_user .email-content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

#global-container .user-wrap .form-area .new_user .email-content .email-label {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 5px 5px 5px gray;
  -webkit-animation: text-wrap 1s 1.8s both;
          animation: text-wrap 1s 1.8s both;
}

#global-container .user-wrap .form-area .new_user .email-content .email-field {
  width: 55%;
  height: 40%;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 4%;
  color: white;
  letter-spacing: 0.1em;
}

#global-container .user-wrap .form-area .new_user .email-content .fusen-email {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  top: 57%;
  left: 22%;
}

#global-container .user-wrap .form-area .new_user .email-content .slide-span {
  content: "";
  display: inline-block;
  width: 65%;
  height: 60%;
  position: absolute;
  background-color: white;
  top: 40%;
  z-index: 3;
  -webkit-animation: bg-slide 1.5s 2.3s ease-in-out forwards;
          animation: bg-slide 1.5s 2.3s ease-in-out forwards;
}

#global-container .user-wrap .form-area .new_user .pass-content-1 {
  position: relative;
  text-align: center;
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

#global-container .user-wrap .form-area .new_user .pass-content-1 .pass-label {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 5px 5px 5px gray;
  -webkit-animation: text-wrap 1s 3.8s both;
          animation: text-wrap 1s 3.8s both;
}

#global-container .user-wrap .form-area .new_user .pass-content-1 .password-field {
  width: 35%;
  height: 40%;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 4%;
  color: white;
}

#global-container .user-wrap .form-area .new_user .pass-content-1 .fusen-pass {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  top: 72%;
  left: 32%;
}

#global-container .user-wrap .form-area .new_user .pass-content-1 .slide-span {
  content: "";
  display: inline-block;
  width: 65%;
  height: 72%;
  position: absolute;
  background-color: white;
  top: 40%;
  z-index: 3;
  -webkit-animation: bg-slide 1.5s 4.3s ease-in-out forwards;
          animation: bg-slide 1.5s 4.3s ease-in-out forwards;
}

#global-container .user-wrap .form-area .new_user .pass-content-1 em {
  -webkit-animation: text-wrap 1s 3.8s both;
          animation: text-wrap 1s 3.8s both;
}

#global-container .user-wrap .form-area .new_user .pass-content-2 {
  position: relative;
  text-align: center;
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

#global-container .user-wrap .form-area .new_user .pass-content-2 .pass-label_c {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 5px 5px 5px gray;
  -webkit-animation: text-wrap 1s 3.8s both;
          animation: text-wrap 1s 3.8s both;
}

#global-container .user-wrap .form-area .new_user .pass-content-2 .password-field_c {
  width: 35%;
  height: 40%;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 4%;
  color: white;
}

#global-container .user-wrap .form-area .new_user .pass-content-2 .fusen-pass_c {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  top: 57%;
  left: 32%;
}

#global-container .user-wrap .form-area .new_user .pass-content-2 .slide-span {
  content: "";
  display: inline-block;
  width: 65%;
  height: 72%;
  position: absolute;
  background-color: white;
  top: 40%;
  z-index: 3;
  -webkit-animation: bg-slide 1.5s 4.3s ease-in-out forwards;
          animation: bg-slide 1.5s 4.3s ease-in-out forwards;
}

#global-container .user-wrap .form-area .new_user .user-actions {
  width: 100%;
  height: 10%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#global-container .user-wrap .form-area .new_user .user-actions .user-btn {
  display: none;
}

#global-container .user-wrap .form-area .new_user .user-actions .sign-up-label {
  display: inline-block;
  width: 20%;
  height: 70%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 5px 5px 5px gray;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#global-container .user-wrap .form-area .new_user .user-actions .sign-up-label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

#global-container .user-wrap .form-area .new_user .user-actions .sign-up-label:hover {
  color: white;
}

#global-container .user-wrap .form-area .new_user .user-actions .sign-up-label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#global-container .user-wrap .form-area .new_user .user-actions .sign-up-label:hover::before {
  -webkit-transform: scale(2) rotate(-180deg);
          transform: scale(2) rotate(-180deg);
  background-color: darkmagenta;
}

#global-container .user-wrap .form-area .new_user .user-actions .slide-span {
  content: "";
  position: absolute;
  width: 40%;
  height: 90%;
  background-color: white;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  -webkit-animation: bg-slide 1.5s 5.3s ease-in-out forwards;
          animation: bg-slide 1.5s 5.3s ease-in-out forwards;
}

#global-container .bg-signin {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/computer-416569_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-rt .bg-signin {
  opacity: 1;
}

#global-container .bg-signup {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/pen-4337521_1280.jpg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 0;
}

#global-container.menu-open-lt .bg-signup {
  opacity: 1;
}

#global-container .user-wrap {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.top-nav {
  position: absolute;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.top-nav_right {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 5% 10% 0 0;
  text-shadow: 0 0 10px black;
}

.top-nav_right:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top-nav_right:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.top-nav_right:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.top-nav_right:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.top-nav_right:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.top-nav_right:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.top-nav_right:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.top-nav_right:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.top-nav_right:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.top-nav_right:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.top-nav_right:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.top-nav_left {
  font-size: 30px;
  font-weight: 600;
  color: lightgrey;
  margin: 5% 0 0 10%;
  text-shadow: 0 0 10px black;
  z-index: 10;
}

.top-nav_left:hover .char-sub {
  display: inline-block;
  -webkit-animation-name: kf-deg;
          animation-name: kf-deg;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top-nav_left:hover .char-sub:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.top-nav_left:hover .char-sub:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.top-nav_left:hover .char-sub:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.top-nav_left:hover .char-sub:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.top-nav_left:hover .char-sub:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.top-nav_left:hover .char-sub:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.top-nav_left:hover .char-sub:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.top-nav_left:hover .char-sub:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.top-nav_left:hover .char-sub:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.top-nav_left:hover .char-sub:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@keyframes bg-img {
  0% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33% {
    background-image: url(/assets/hennsyuu.jpg);
  }
  66% {
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
  100% {
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@-webkit-keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@keyframes kf-deg {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2) rotateY(-180deg);
            transform: scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
    color: darkcyan;
  }
}

@-webkit-keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  33% {
    background-color: white;
    opacity: 1;
  }
  66% {
    background-color: darkgray;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes kf-back {
  0% {
    background-color: white;
    opacity: 1;
  }
  33% {
    background-color: white;
    opacity: 1;
  }
  66% {
    background-color: darkgray;
    opacity: 0.8;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@-webkit-keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@keyframes kf-border {
  0% {
    border: 5px solid black;
  }
  33% {
    border: 5px solid #131212;
  }
  66% {
    border: 5px solid #131212;
  }
  100% {
    border: 5px solid black;
  }
}

@-webkit-keyframes bg-slide {
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes bg-slide {
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes text-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-wrap {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.user-wrap .in-name {
  color: white;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 0 0 10px gray;
}

.user-wrap .form-area_in {
  width: 60vw;
  height: 50vh;
  position: absolute;
  top: 23%;
  background-size: cover;
  border-radius: 20px;
  -webkit-animation-name: kf-back ,kf-border;
          animation-name: kf-back ,kf-border;
  -webkit-animation-duration: 20s , 20s;
          animation-duration: 20s , 20s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  border: 10px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.user-wrap .form-area_in .new_user {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-wrap .form-area_in .new_user .email-content_in {
  position: relative;
  text-align: center;
  width: 100%;
  height: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

.user-wrap .form-area_in .new_user .email-content_in .email-label_in {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 5px 5px 5px gray;
  -webkit-animation: text-wrap 1s both;
          animation: text-wrap 1s both;
}

.user-wrap .form-area_in .new_user .email-content_in .email-field_in {
  width: 55%;
  height: 40%;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 4%;
  color: white;
  letter-spacing: 0.1em;
}

.user-wrap .form-area_in .new_user .email-content_in .fusen-email {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  top: 58%;
  left: 21.5%;
}

.user-wrap .form-area_in .new_user .email-content_in .slide-span {
  content: "";
  display: inline-block;
  width: 65%;
  height: 75%;
  position: absolute;
  background-color: white;
  top: 40%;
  -webkit-animation: bg-slide 1.5s 0.5s ease-in-out forwards;
          animation: bg-slide 1.5s 0.5s ease-in-out forwards;
}

.user-wrap .form-area_in .new_user .pass-content_in {
  position: relative;
  text-align: center;
  width: 100%;
  height: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.user-wrap .form-area_in .new_user .pass-content_in .pass-label_in {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 5px 5px 5px gray;
  -webkit-animation: text-wrap 1s 1.9s both;
          animation: text-wrap 1s 1.9s both;
}

.user-wrap .form-area_in .new_user .pass-content_in .password-field_in {
  width: 55%;
  height: 40%;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background: linear-gradient(45deg, #363535, #3d3932 30%, #382d2a 60%, #2c3042);
  padding-left: 4%;
  color: white;
}

.user-wrap .form-area_in .new_user .pass-content_in .fusen-pass {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
  top: 58%;
  left: 21.5%;
}

.user-wrap .form-area_in .new_user .pass-content_in .slide-span {
  content: "";
  display: inline-block;
  width: 65%;
  height: 65%;
  position: absolute;
  background-color: white;
  top: 40%;
  -webkit-animation: bg-slide 1.5s 2.5s ease-in-out forwards;
          animation: bg-slide 1.5s 2.5s ease-in-out forwards;
}

.user-wrap .form-area_in .new_user .user-actions {
  width: 100%;
  height: 10%;
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.user-wrap .form-area_in .new_user .user-actions .user-btn {
  display: none;
}

.user-wrap .form-area_in .new_user .user-actions .sign-in-label {
  display: inline-block;
  width: 20%;
  height: 90%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: lime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 5px 5px 5px gray;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.user-wrap .form-area_in .new_user .user-actions .sign-in-label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  -webkit-box-shadow: 3px 3px 2px black inset;
          box-shadow: 3px 3px 2px black inset;
}

.user-wrap .form-area_in .new_user .user-actions .sign-in-label:hover {
  color: white;
}

.user-wrap .form-area_in .new_user .user-actions .sign-in-label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.user-wrap .form-area_in .new_user .user-actions .sign-in-label:hover::before {
  -webkit-transform: scale(2) rotate(-180deg);
          transform: scale(2) rotate(-180deg);
  background-color: #030d6b;
}

.user-wrap .form-area_in .new_user .user-actions .slide-span {
  content: "";
  position: absolute;
  width: 40%;
  height: 120%;
  background-color: white;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  -webkit-animation: bg-slide 1.5s 3.5s ease-in-out forwards;
          animation: bg-slide 1.5s 3.5s ease-in-out forwards;
}
/*# sourceMappingURL=users.css.map */