body{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
//ドット調の背景のstyle
.bg-dot{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  & .bg-cover{
    content: "";
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    
    background-size: 4px 4px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
//viewの大枠のstyle
#global-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation-name: bg-img;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  //右上ボタンにホバーした時の背景
  & .bg-signin{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/computer-416569_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
    
  }  
  &.menu-open-rt{
    & .bg-signin{
    opacity: 1;
    }
  }
  //左上のボタンにホバーした時の背景のstyle
  & .bg-signup{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/pen-4337521_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-lt{
    & .bg-signup{
      opacity: 1;
    }
  }
  //左下のボタンにホバーした時のstyle
  & .bg-mypage{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/office-1730939_1280.jpg);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-lb{
    & .bg-mypage{
      opacity: 1;
    }
  }
  & .bg-search{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/seach.2jpeg.webp);
    background-size: cover;
    opacity: 0;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    z-index: 0;
  }
  &.menu-open-rb{
    & .bg-search{
      opacity: 1;
    }
  }
}
//header要素のstyle
.top-nav{
  position: absolute;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin:5% 10% 0 0;
    text-shadow: 0 0 10px black;
    
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin:5% 0 0 10%;
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }
}
//header要素のstyle
.bottom-nav{
  position: absolute;
  top: 90%;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin: 0 10% 5% 0; 
    text-shadow: 0 0 10px black;
    &:hover{
      & .char-sub{
        display: inline-block;
        @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-deg;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
      }
    }  

  }  
  &_left{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
    margin: 0 0 5% 10%;
    text-shadow: 0 0 10px black;
      &:hover{
        & .char-sub{
          display: inline-block;
          @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
            animation-name: kf-deg;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }
      }  
      

    
  }
}
//contentsの大枠のstyle
.main-content{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  & .edit-content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    //編集formのstyle
    & .edit-list{
      position: relative;
      width: 60vw;
      height: 70vh;
      background-size: cover;
      border-radius: 20px;
      position: absolute;
      z-index: 5;
      top: 15vh;
      left: 0;
      transform: translateX(-7%);
      animation-name:kf-back ,kf-border;
      animation-duration: 20s , 20s;
      animation-iteration-count: infinite,infinite;
      border: 10px solid black;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      & .form-all{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        //nick-name_areaのstyle
        & .form-name{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 30%;
          height: 15%;
          margin-top: 1%;
           & .name-title{
             font-size: 20px;
             font-weight: 600;
             text-shadow: 3px 3px 2px gray;
           }
           & .name-area{
             position: relative;
             width: 100%;
             height: 60%;
             box-shadow: 5px 5px 5px black;
             padding-left: 15%;
             font-size: 15px;
             font-weight: 600;
             border: none;
             outline: none;
             color: white;
             text-shadow: 2px 2px 3px gray;
             background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
             overflow: scroll;
             
            }
             & span{
               content: "";
               display: inline-block;
               width: 15px;
               height: 15px;
               top: 70%;
               left: -3%;
               transform: translateY(-50%);
               border-radius: 7.5px;
               position: absolute;
               z-index: 10;
               background-color: white;
               box-shadow: 3px 3px 2px black inset;
             }
           
        }
        //自己紹介文_areaのstyle
        & .form-intro{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 80%;
          height: 50%;
          margin-top: 1.5%;
            & .intro-title{
              font-size: 20px;
              font-weight: 600;
              height: 12%;
              text-shadow: 3px 3px 2px gray;
              
            }
          
            & .intro-area{
              width: 100%;
              height: 80%;
              resize: none;
              box-shadow: 5px 5px 5px black;
              background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
              padding-left: 8%;
              font-size: 18px;
              color: white;
              text-shadow: 3px 3px 2px gray;
              border: none;
              outline: none;
            }
            & .span1{
              content: "";
               width: 15px;
               height: 15px;
               border-radius: 7.5px;
               position: absolute;
               background-color: white;
               top: 33%;
               left: 9%;
               display: inline-block;
               z-index: 30;
               box-shadow: 3px 3px 2px black inset;
            }
            & .span2{
              content: "";
              width: 15px;
              height: 15px;
              border-radius: 7.5px;
              position: absolute;
              background-color: white;
              top: 55%;
              left: 9%;
              display: inline-block;
              z-index: 30;
              box-shadow: 3px 3px 2px black inset;
            }
          
        }
        //誕生日_areaのstyle
        & .form-birth{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 60%;
          height: 10%;
          & .birth-name{
            font-size: 20px;
            font-weight: 600;
            text-shadow: 3px 3px 2px gray;
          }
          & .form-birth_list{
            width: 100%;
            text-align: center;
            & #user_profile_attributes_birthday_1i{
              width: 15%;
              color: white;
              font-size: 20px;
              text-shadow: 3px 3px 2px gray;
              background-color: rgb(43, 13, 13);
              border: 3px solid black;
              border-radius: 3px;
              outline: none;
            }
            & #user_profile_attributes_birthday_2i{
              width: 10%;
              color: white;
              font-size: 20px;
              text-shadow: 3px 3px 2px gray;
              background-color: rgb(43, 13, 13);
              border: 3px solid black;
              border-radius: 3px;
              outline: none;
            }
            & #user_profile_attributes_birthday_3i{
              width: 10%;
              color: white;
              font-size: 20px;
              text-shadow: 3px 3px 2px gray;
              background-color: rgb(43, 13, 13);
              border: 3px solid black;
              border-radius: 3px;
              outline: none;
            }
          }
        }
        //ボタン_areaのstyle
        & .form-submit{
          position: relative;
           width: 15%;
           height: 8%;
           display: flex;
           align-items: center;
           justify-content: center;
           margin-top: 5%;
           background: linear-gradient(45deg, rgb(54, 53, 53), #3d3932 30%, #382d2a 60%, #2c3042);
           box-shadow: 5px 5px 5px black;
          & .form-btn{
            display: none;
          }
          & .sub-btn{
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
            text-shadow: 3px 3px 2px gray;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer;
            overflow: hidden;
            z-index: 2;
            color: white;
            transition-duration:0.6s ;
            &:hover{
              color: black;
            }
            &::before{
              content: "";
             position: absolute;
             width: 100%;
             height: 100%;
             top: 0;
             left: 0;
             transition-duration: 0.5s;
             z-index: -1;
            }
            &:hover::before{
              background-color: rgb(60, 255, 0);
              transform: rotate(-180deg) scale(2);
            }
          }
        }
      
      }

      
      
      

    }
    //page-titleのstyle
    & .edit-title{
     font-size: 50px;
     font-weight: 600;
     position: absolute;
     top: 5vh;
     left: 50%;
     transform: translateX(-50%);
     color: white;
     text-shadow: 0 0 10px gray;
     & .char-title{
       display: inline-block;
       @for $i from 1 through 11 {
         &:nth-child(#{$i}) {
           animation-delay: $i * 0.06s;
          }
        }
          animation-name: kf-title;
          animation-duration: 2.5s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
     }

     
    }
  }
}
@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}
@keyframes slide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: black;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: black;
  }

  99% {
    transform: translate(0) scale(1.3);
    color: white;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: black;
  }
}

@keyframes kf-deg {
  0%{
    transform:scale(1)rotateY(0);
  }
  50%{
    transform:scale(2) rotateY(-180deg);
    color: darkcyan;
  }
  100%{
    transform:scale(1)rotateY(0);
    color: darkcyan;
  }
}
@keyframes kf-sub{
  0%{
    transform: translate(-50% ,100%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,-50%);
    opacity: 1;
  }
}
@keyframes kf-sub2{
  0%{
    transform: translate(-50% ,150%);
    opacity: 0;
  }
  100%{
    transform: translate(-50% ,80%);
    opacity: 1;
  }
}
@keyframes kf-back{
  0%{
    background-color: white;
    opacity: 1;
  }
  33%{
    background-color: darkgray;
    opacity: 0.8;
  }
  66%{
    background-color: whitesmoke;
    opacity: 0.8;
  }
  100%{
    background-color: white;
    opacity: 1;
  }
}
@keyframes kf-border{
  0%{
    border: 5px solid black;
  }
  33%{
    border: 5px solid rgb(19, 18, 18);
  }
  66%{
    border:5px solid rgb(19, 18, 18);
  }
  100%{
    border: 5px solid black;
  }
}
@keyframes kf-title{
  0%{
    color: black;
  }
  10%{
    color: black;
    transform: scale(1);
  }
  15%{
    color: rgb(252, 250, 245);
    transform: scale(1.2);
  }
  20%{
    color: black;
    transform: scale(1);
  }
}
@keyframes bg-img{
  0%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
  33%{
    background-image: url(/assets/hennsyuu.jpg);
  }
  66%{
    background-image: url(/assets/laptop-1478822_1280.jpg);
  }
 
  100%{
    background-image: url(/assets/notebook-1280538_1280.jpg);
  }
}

@keyframes kf-fusen{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;

  }
}
